body {
    min-height: 100%;
    background: url('../img/background.jpg') rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    font-family: 'Lato', sans-serif;
    color: white;
}
/* Button Ungu */
.btn-dark, .btn-dark:active, .btn-dark:visited {
    border-color:rgba(0, 0, 0, 0.4);
    background-color: #8064A2 !important;
}

.btn-dark:hover {
    border-color:rgba(0, 0, 0, 0.4);
    background-color: rgb(102, 79, 131) !important;
}

.btn-dark:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(102, 79, 131, 0.5);
    border-color:rgba(0, 0, 0, 0.4);
}


/* Button Kuning */
.btn-warning, .btn-warning:active, .btn-warning:visited {
    border-color:rgb(175, 129, 14);
    background-color: rgb(231, 172, 22) !important;
}

.btn-warning:hover {
    border-color:rgb(175, 129, 14);
    background-color: rgb(218, 162, 23) !important;
}

.btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 .2rem rgb(214, 159, 19, 0.5);
    background-color: #f3b316 a!important;
}

.warning {
    background: #f3b316 !important;
}

/* Button Primary */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    border-color:#0258b4;
}

.btn-primary:hover {
    border-color:#0258b4;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .2rem #0258b4;
}

.table-custom tbody tr td, th {
    text-align: center;
}

.GaugeMeter {
	Position:        Relative;
	Text-Align:      Center;
	Overflow:        Hidden;
	Cursor:          Default;
}

.GaugeMeter SPAN,
    .GaugeMeter B{
    	Margin:          0 23%;
    	Width:           54%;
    	Position:        Absolute;
    	Text-align:      Center;
    	Display:         Inline-Block;
    	Color:           RGBa(0,0,0,.8);
    	Font-Weight:     100;
    	Font-Family:     "Open Sans", Arial;
    	Overflow:        Hidden;
    	White-Space:     NoWrap;
    	Text-Overflow:   Ellipsis;
}
.GaugeMeter[data-style="Semi"] B{
	Margin:          0 10%;
	Width:           80%;
}

.GaugeMeter S,
    .GaugeMeter U{
    	Text-Decoration: None;
    	Font-Size:       .5em;
    	Opacity:         .5;
}

.GaugeMeter B{
	Color:           Black;
	Font-Weight:     300;
	Font-Size:       1em;
	Opacity:         .8;
}

@media only screen and (max-width: 430px) {
    .table-custom {
        font-size: 0.7rem;
    }
}