{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Penilaian Green Construction</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <form method="POST" action="{% url 'sistem_penilaian' %}" id="signup-form" class="signup-form mt-4">
            {% csrf_token %}
            <h3>
                Bobot Aspek
            </h3>
            <fieldset style="margin-bottom: 80px;">
                <h2 class="text-dark">Input Bobot Aspek</h2>
                <div class="row" style="margin-bottom: 80px;">
                    <div class="col" style="border-right: 1px solid rgba(128, 100, 162, 0.5);">
                        <div class="form-group">
                            <label>Aspek Kesehatan dan Kenyamanan Proyek</label>
                            <input type="number" name="kesehatan" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Aspek Kualitas Udara</label>
                            <input type="number" name="kualitas_udara" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Aspek Manajemen Lingkungan Bangunan</label>
                            <input type="number" name="manajemen" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Aspek Sumber dan Siklus Material</label>
                            <input type="number" name="material" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Aspek Tepat Guna Lahan</label>
                            <input type="number" name="tepat_guna" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Aspek Konservasi Air</label>
                            <input type="number" name="konservasi_air" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Aspek Konservasi Energi</label>
                            <input type="number" name="konservasi_energi" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <h3>
                Bobot Faktor
            </h3>
            <fieldset style="margin-bottom: 80px;">
                <h2 class="text-dark">Input Bobot Faktor</h2>
                <div class="row" style="margin-bottom: 80px;">
                    <div class="col" style="border-right: 1px solid rgba(128, 100, 162, 0.5);">
                        <h2>Aspek Kesehatan dan Kenyamanan Proyek</h2>
                        <div class="form-group">
                            <label>Faktor Program Kesehatan dan Keselematan Kerja</label>
                            <input type="number" name="program_kesehatan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Kesehatan Lingkungan Kerja Tahap Konstruksi</label>
                            <input type="number" name="kesehatan_lingkungan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Aspek Kualitas Udara</h2>
                        <div class="form-group">
                            <label>Faktor Kualitas Udara dalam Proyek</label>
                            <input type="number" name="udara_dalam_proyek" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Pemilihan dan Operasional Peralatan Konstruksi</label>
                            <input type="number" name="operasional_peralatan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Penyimpanan dan Perlindungan Material</label>
                            <input type="number" name="perlindungan_material" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Aspek Sumber dan Siklus Material</h2>
                        <div class="form-group">
                            <label>Faktor Efisiensi Material</label>
                            <input type="number" name="efisiensi_material" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Perencanaan dan Penjadwalan Material</label>
                            <input type="number" name="penjadwalan_material" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                    </div>
                    <div class="col">
                        <h2>Aspek Manajemen Lingkungan Bangunan</h2>
                        <div class="form-group">
                            <label>Faktor Dokumentasi</label>
                            <input type="number" name="dokumentasi" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Manajemen Lingkungan Proyek</label>
                            <input type="number" name="manajemen_lingkungan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Pelatihan bagi Subkontraktor</label>
                            <input type="number" name="pelatihan" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Manajemen Limbah Konstruksi</label>
                            <input type="number" name="manajemen_limbah" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Aspek Tepat Guna Lahan</h2>
                        <div class="form-group">
                            <label>Faktor Pengelolaan Lahan</label>
                            <input type="number" name="pengelolaan_lahan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Pengurangan Jejak Ekologis Tahap Konstruksi</label>
                            <input type="number" name="pengurangan_jejak" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Faktor Rencana Perlindungan Lokasi Pekerjaan</label>
                            <input type="number" name="rencana_perlindungan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <h3>
                Bobot Indikator
            </h3>
            <fieldset style="margin-bottom: 80px;">
                <h2 class="text-dark">Input Bobot Indikator</h2>
                <div class="row" style="margin-bottom: 80px;">
                    <div class="col" style="border-right: 1px solid rgba(128, 100, 162, 0.5);">
                        <h2>Faktor Kesehatan Lingkungan Kerja Tahap Konstruksi</h2>
                        <div class="form-group">
                            <label>Indikator Pengadaan Lokasi Khusus untuk Membersihkan Peralatan</label>
                            <input type="number" name="pengadaan_lokasi_khusus" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Ada Kebijakan dan Peralatan K3</label>
                            <input type="number" name="kebijakan_peralatan_k3" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Kendali Asap Rokok</label>
                            <input type="number" name="kendali_asap_rokok" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Faktor Kualitas Udara dalam Proyek</h2>
                        <div class="form-group">
                            <label>Indikator Ketentuan Mengenai Pengelolaan Kualitas Udara</label>
                            <input type="number" name="kententuan_pengelolaan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Sistem Manajemen Kualitas Udara</label>
                            <input type="number" name="sistem_manajemen" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Faktor Manajemen Lingkungan Proyek</h2>
                        <div class="form-group">
                            <label>Indikator Pemantauan dan Pengelolaan Sampah Konstruksi dan Domestik</label>
                            <input type="number" name="pemantauan_sampah" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Upaya Mengurangi Sampah akibat Kemasan Makanan dan Minuman</label>
                            <input type="number" name="upaya_mengurangi_sampah" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Faktor Manajemen Limbah Konstruksi</h2>
                        <div class="form-group">
                            <label>Indikator Tindakan untuk Mengurangi Limbah</label>
                            <input type="number" name="tindakan_mengurangi_limbah"
                                placeholder="Isi dengan nilai 0.00-1.00" required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Mendaur Ulang Limbah Konstruksi</label>
                            <input type="number" name="mendaur_ulang" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>

                        <h2>Faktor Efisiensi Material</h2>
                        <div class="form-group">
                            <label>Indikator Metode Konstruksi Ramah Lingkungan</label>
                            <input type="number" name="konstruksi_ramah" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Penggunaan Material Ramah Lingkungan</label>
                            <input type="number" name="penggunaan_material" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                    </div>
                    <div class="col">
                        <h2>Faktor Pengelolaan Lahan</h2>
                        <div class="form-group">
                            <label>Indikator Pengelolaan Air Limpasan</label>
                            <input type="number" name="pengelolaan_air" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Upaya untuk Mempertahankan Tanaman dan Menanam Kembali</label>
                            <input type="number" name="upaya_tanaman" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>

                        <h2>Faktor Rencana Perlindungan Lokasi Pekerjaan</h2>
                        <div class="form-group">
                            <label>Indikator Rencana Penggunaan Air Konstruksi</label>
                            <input type="number" name="penggunaan_air" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Rencana Pengaturan Air Limbah dan Limpasan</label>
                            <input type="number" name="pengaturan_air" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Perencanaan untuk Konservasi Lingkungan</label>
                            <input type="number" name="konservasi_lingkungan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Faktor Efisiensi Air</h2>
                        <div class="form-group">
                            <label>Indikator Penghematan Air</label>
                            <input type="number" name="penghematan_air" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Sistem Manajemen Air Bersih</label>
                            <input type="number" name="manajemen_air" placeholder="Isi dengan nilai 0.00-1.00" required
                                min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Pemanfaatan Sumber Air Alternatif</label>
                            <input type="number" name="pemanfaatan_air" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>

                        <h2>Faktor Efisiensi Energi</h2>
                        <div class="form-group">
                            <label>Indikator Penghematan Energi pada Sistem Transportasi Proyek, dan lainnya</label>
                            <input type="number" name="penghematan_transportasi"
                                placeholder="Isi dengan nilai 0.00-1.00" required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Penghematan Eergi melalui Sistem Manajemen Energi</label>
                            <input type="number" name="penghematan_sistem" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                        <div class="form-group">
                            <label>Indikator Kendali Penggunaan Energi khusus Sistem Pencahayaan</label>
                            <input type="number" name="penghematan_pencahayaan" placeholder="Isi dengan nilai 0.00-1.00"
                                required min="0" max="1" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>