{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Penilaian Green Construction</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="card m-4 p-2">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <select class="my-2 form-control" id="data-type" name="data-type">
                        <option value="responden">Data Responden</option>
                        <option value="proyek">Data Proyek</option>
                        <option value="bobot-aspek">Data Bobot Aspek</option>
                        <option value="bobot-faktor">Data Bobot Faktor</option>
                        <option value="bobot-indikator">Data Bobot Indikator</option>
                    </select>
                </div>
                <div class="col-md-3 m-auto text-right">
                    <button id="btn-xls" class="btn btn-success">Download XLS</button>
                </div>
            </div>

            <div class="table-responsive data-responden">
                <table id="responden" class="table table-bordered table-sm table-custom">
                    <thead class="warning">
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Instansi</th>
                        <th>Pendidikan</th>
                        <th>Jabatan</th>
                        <th>Lama Bekerja</th>
                        <th>Kontak</th>
                    </thead>
                    <tbody>
                        {% for responden_data in responden %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="font-weight-bold">{{ responden_data.nama }}</td>
                            <td>{{ responden_data.instansi }}</td>
                            <td>{{ responden_data.pendidikan }}</td>
                            <td>{{ responden_data.jabatan }}</td>
                            <td>{{ responden_data.lama_bekerja }}</td>
                            <td>{{ responden_data.kontak }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive data-proyek">
                <table id="proyek" class="table table-bordered table-sm table-custom">
                    <thead class="warning">
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Jenis Bangunan</th>
                        <th>Luas Bangunan</th>
                        <th>Lokasi</th>
                        <th>Nilai Kontrak</th>
                        <th>Green Building</th>
                        <th>Kontraktor Pelaksana</th>
                        <th>Nilai Green Construction</th>
                    </thead>
                    <tbody>
                        {% for proyek_data in proyek %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="font-weight-bold">{{ proyek_data.nama }}</td>
                            <td>{{ proyek_data.jenis_bangunan }}</td>
                            <td>{{ proyek_data.luas_bangunan }}</td>
                            <td>{{ proyek_data.lokasi }}</td>
                            <td>{{ proyek_data.nilai_kontrak }}</td>
                            <td>{{ proyek_data.green_building }}</td>
                            <td>{{ proyek_data.kontraktor_pelaksana }}</td>
                            <td>{{ proyek_data.nilai_gc }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive data-bobot-aspek">
                <table id="bobot-aspek" class="table table-bordered table-sm table-custom">
                    <thead class="warning">
                        <th>No.</th>
                        {% for aspek in bobot_aspek.0.labels %}
                        <th>{{ aspek }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for bobot_aspek_data in bobot_aspek %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for bobot in bobot_aspek_data.split_bobot %}
                            <td>{{ bobot }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive data-bobot-faktor">
                <table id="bobot-faktor" class="table table-bordered table-sm table-custom">
                    <thead class="warning">
                        <th>No.</th>
                        {% for faktor in bobot_faktor.0.labels %}
                        <th>{{ faktor }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for bobot_faktor_data in bobot_faktor %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for bobot in bobot_faktor_data.split_bobot %}
                            <td>{{ bobot }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive data-bobot-indikator">
                <table id="bobot-indikator" class="table table-bordered table-sm table-custom">
                    <thead class="warning">
                        <th>No.</th>
                        {% for indikator in bobot_indikator.0.labels %}
                        <th>{{ indikator }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for bobot_indikator_data in bobot_indikator %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% for bobot in bobot_indikator_data.split_bobot %}
                            <td>{{ bobot }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(".table-responsive").hide();
        $(".data-responden").show();

        $("#data-type").change(
            function () {
                $(".table-responsive").hide();
                $(".data-" + $(this).val()).show();
            }
        )

        function exportTableToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';

            // Create download link element
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }
        }

        $('#btn-xls').click(
            function() {
                exportTableToExcel($('#data-type').val(), $('#data-type').val());
            }
        )
    </script>
</body>

</html>