{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Sistem Penilaian Green Construction" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <form method="POST">
            <div class="m-4">
                <h1 style="font-weight: 900;">{% trans "FORM DATA" %}</h1>
                <span>{% trans "Sebelum anda menggunakan sistem ini, isilah form di bawah ini terlebih dahulu. Semua informasi bersifat rahasia/tidak dipublikasikan." %}</span>
            </div>
            <div class="card shadow p-4 text-dark">
                <h4 class="bg-warning p-4">{% trans "PROFIL RESPONDEN" %}</h4>
                <div class="form-group row">
                    <label for="nama_responden" class="col-sm-2 col-form-label">{% trans "Nama" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="nama_responden" name="nama_responden">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="instansi" class="col-sm-2 col-form-label">{% trans "Instansi/Perusahaan" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="instansi" name="instansi">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pendidikan" class="col-sm-2 col-form-label">{% trans "Pendidikan" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="pendidikan" name="pendidikan">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{% trans "Jabatan" %}</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="greenship_associate" value="greenship associate" name="jabatan">
                            <label class="form-check-label" for="greenship_associate">{% blocktrans %}Pemegang Sertifikat <i>Greenship Associate</i>{% endblocktrans %}
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="greenship_profesional" value="greenship profesional" name="jabatan">
                            <label class="form-check-label" for="greenship_profesional">{% blocktrans %}Pemegang Sertifikat <i>Greenship Profesional</i>{% endblocktrans %}
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="akademisi" value="akademisi" name="jabatan">
                            <label class="form-check-label" for="akademisi">{% trans "Akademisi" %}
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="praktisi" value="praktisi" name="jabatan">
                            <label class="form-check-label" for="praktisi">{% trans "Praktisi, sebagai " %}<span><input type="text" id="jabatan_lainnya" name="jabatan_lainnya"></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{% trans "Lama Bekerja" %}</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="kurang_5_tahun" value="5 tahun kurang" name="lama_bekerja">
                            <label class="form-check-label" for="kurang_5_tahun">{% trans "0 - < 5 tahun" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="5_sampai_10" value="5 sampai 10 tahun kurang" name="lama_bekerja">
                            <label class="form-check-label" for="5_sampai_10">{% trans "5 - < 10 tahun" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="10_sampai_15" value="10 sampai 15 tahun kurang" name="lama_bekerja">
                            <label class="form-check-label" for="10_sampai_15">{% trans "10 - < 15 tahun" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="15_sampai_20" value="15 sampai 20 tahun kurang" name="lama_bekerja">
                            <label class="form-check-label" for="15_sampai_20">{% trans "15 - < 20 tahun" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="lebih_20_tahun" value="20 tahun lebih" name="lama_bekerja">
                            <label class="form-check-label" for="lebih_20_tahun">{% trans " > 20 tahun" %}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lama_bekerja" class="col-sm-2 col-form-label">{% trans "Kontak Hp / Email" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="lama_bekerja" name="kontak">
                    </div>
                </div>


                <h4 class="mt-4 bg-warning p-4">{% trans "PROFIL PROYEK" %}</h4>
                <div class="form-group row">
                    <label for="nama_proyek" class="col-sm-2 col-form-label">{% trans "Nama Proyek" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="nama_proyek" name="nama_proyek">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">{% trans "Jenis Bangunan" %}</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="perkantoran" value="perkantoran" name="jenis_bangunan">
                            <label class="form-check-label" for="perkantoran">{% trans "Perkantoran" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="sekolah/universitas" value="sekolah/universitas" name="jenis_bangunan">
                            <label class="form-check-label" for="sekolah/universitas">{% trans "Sekolah/Universitas" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="rumah_sakit" value="rumah sakit" name="jenis_bangunan">
                            <label class="form-check-label" for="rumah_sakit">{% trans "Rumah Sakit" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="hotel" value="hotel" name="jenis_bangunan">
                            <label class="form-check-label" for="hotel">{% trans "Hotel" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="apartemen" value="apartemen" name="jenis_bangunan">
                            <label class="form-check-label" for="apartemen">{% trans "Apartemen" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="lainnya" value="lainnya" name="jenis_bangunan">
                            <label class="form-check-label" for="lainnya">{% trans "Lainnya " %}<span><input type="text" name="jenis_bangunan_lainnya"></span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="luas" class="col-sm-2 col-form-label">{% trans "Jumlah Lantai - Luas Bangunan" %}
                        (m<sup>2</sup>)</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="luas" name="luas">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lokasi_bangunan" class="col-sm-2 col-form-label">{% trans "Lokasi Bangunan (kota/daerah)" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="lokasi_bangunan" name="lokasi_bangunan">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nilai_kontrak" class="col-sm-2 col-form-label">{% trans "Nilai Kontrak (rentang/kualifikasi)" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="nilai_kontrak" name="nilai_kontrak">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="green_building" class="col-sm-2 col-form-label">{% trans "Jenis Konstruksi " %}(<i>green
                            building</i>)</label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="ya" value="true" name="green_building">
                            <label class="form-check-label" for="ya">{% trans "Ya" %}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input required class="form-check-input" type="radio" id="tidak" value="false" name="green_building">
                            <label class="form-check-label" for="tidak">{% trans "Tidak" %}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="kontraktor" class="col-sm-2 col-form-label">{% trans "Kontraktor Pelaksana" %}</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="kontraktor" name="kontraktor">
                    </div>
                </div>
            </div>
            <div class="my-4 text-right">
                <button class="btn btn-dark" type="submit">Next</button>
            </div>
        </form>
    </div>
    <script>
        $('#praktisi').change(
            function() {
                if ($(this).is(':checked')) {
                    $('#jabatan_lainnya').attr("required", "true");
                }
                else {
                    $('#jabatan_lainnya').removeAttr("required");
                }
            }
        );
    </script>
</body>

</html>
