{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sistem Penilaian Green Construction</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/gaugemeter.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <div class="m-4">
        <h1 style="font-weight: 900">HASIL PENILAIAN</h1>
        <span>
          Berikut hasil penilaian proyek anda dari sistem penilaian kami.
        </span>
      </div>
      <div class="card text-center text-dark mb-4">
        <h3 class="mt-4"><i>Green Construction Score</i></h3>
        <div class="row my-2 justify-content-center">
          <div class="col-3">
            <select class="form-control" id="level-view" name="level">
              <option value="total">Green Construction</option>
              <option value="aspek">Aspek</option>
              <option value="faktor">Faktor</option>
              <option value="indikator">Indikator</option>
            </select>
          </div>
        </div>
        <!-- Green Construction -->
        <div class="row">
          <div class="col-auto m-auto">
            <div
              class="graph total GaugeMeter"
              data-percent="{{nilai_gc}}"
              data-size="400"
              data-width="5"
              data-style="Arch"
              data-theme="Red-Gold-Green"
              data-label="{{nilai_gc_text}} ({{nilai_gc_percent}})"
            ></div>
          </div>
        </div>

        <!-- Aspek -->
        <canvas class="graph aspek my-4" id="green"></canvas>

        <!-- Faktor -->
        <canvas class="graph faktor my-4" id="konservasi_energi"></canvas>
        <canvas class="graph faktor my-4" id="konservasi_air"></canvas>
        <canvas class="graph faktor my-4" id="tepat_guna_lahan"></canvas>
        <canvas
          class="graph faktor my-4"
          id="sumber_dan_siklus_material"
        ></canvas>
        <canvas
          class="graph faktor my-4"
          id="manajemen_lingkungan_bangunan"
        ></canvas>
        <canvas class="graph faktor my-4" id="kualitas_udara"></canvas>
        <canvas
          class="graph faktor my-4"
          id="kesehatan_dan_kenyamanan_dalam_proyek"
        ></canvas>

        <!-- Indikator -->
        <canvas class="graph indikator my-4" id="efisiensi_energi"></canvas>
        <canvas class="graph indikator my-4" id="efisiensi_air"></canvas>
        <canvas class="graph indikator my-4" id="rencana_perlindungan"></canvas>
        <canvas class="graph indikator my-4" id="pengurangan_jejak"></canvas>
        <canvas class="graph indikator my-4" id="pengelolaan_lahan"></canvas>
        <canvas
          class="graph indikator my-4"
          id="perencanaan_dan_penjadwalan"
        ></canvas>
        <canvas class="graph indikator my-4" id="efisiensi_material"></canvas>
        <canvas class="graph indikator my-4" id="manajemen_limbah"></canvas>
        <canvas class="graph indikator my-4" id="pelatihan"></canvas>
        <canvas class="graph indikator my-4" id="manajemen_lingkungan"></canvas>
        <canvas class="graph indikator my-4" id="dokumentasi"></canvas>
        <canvas
          class="graph indikator my-4"
          id="penyimpanan_dan_perlindungan"
        ></canvas>
        <canvas class="graph indikator my-4" id="pemilihan"></canvas>
        <canvas
          class="graph indikator my-4"
          id="kualitas_udara_dalam_proyek"
        ></canvas>
        <canvas class="graph indikator my-4" id="kesehatan_lingkungan"></canvas>
        <canvas class="graph indikator my-4" id="program_kesehatan"></canvas>
      </div>
    </div>
    <script>
         function random_rgba() {
             var o = Math.round, r = Math.random, s = 255;
             return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + 0.4 + ')';
         }

         function filterGraph() {
             $('.graph').hide();
             $('.' + $('#level-view').val()).show();
         }

         function drawRadar(element, labels, dataset_label, dataset, color) {
             let ctx = document.getElementById(element).getContext('2d');
             let myRadarChart = new Chart(ctx, {
                 type: 'radar',
                 data: {
                     labels: labels,
                     datasets: [{
                         backgroundColor: color,
                         label: dataset_label,
                         data: dataset,
                     }]
                 },
                 options: {
                     scale: {
                         ticks: {
                             beginAtZero: true
                         }
                     }
                 }
             });
         }

         function drawBar(element, labels, dataset_label, dataset, color, max=undefined) {
             let ctx = document.getElementById(element).getContext('2d');
             let ticks = {
                 beginAtZero: true
             }
             if (max != undefined) {
                 ticks = {
                     beginAtZero: true,
                     suggestedMax: max
                 }
             }

             let myBarChart = new Chart(ctx, {
                 type: 'bar',
                 data: {
                     labels: labels,
                     datasets: [{
                         maxBarThickness: 100,
                         backgroundColor: color,
                         label: dataset_label,
                         data: dataset,
                     }]
                 },
                 options: {
                     scales: {
                         yAxes: [{
                             ticks: ticks
                         }]
                     }
                 }
             });
         }

         window.onload = function () {
         // Green Construction
         drawRadar('green', [
             'Konservasi Energi',
             'Konservasi Air',
             'Tepat Guna Lahan',
             'Sumber dan Siklus Material',
             'Manajemen Lingkungan Bangunan',
             'Kualitas Udara',
             'Kesehatan dan Kenyamanan dalam Proyek'
         ], 'Green Construction', [{{ output_aspek.0 }}, {{ output_aspek.1 }}, {{ output_aspek.2 }}, {{ output_aspek.3 }}, {{ output_aspek.4 }}, {{ output_aspek.5 }}, {{ output_aspek.6 }}], random_rgba());

         // Aspek Konservasi Energi
         drawBar('konservasi_energi', [
             'Efisiensi Energi'
         ], 'Konservasi Energi', [{{ output_faktor.0}}], random_rgba(), {{max_value.faktor_0}});

         // Aspek Konservasi Air
         drawBar('konservasi_air', [
             'Efisiensi Air'
         ], 'Konservasi Air', [{{ output_faktor.1}}], random_rgba(), {{max_value.faktor_1}});

         // Aspek Tepat Guna Lahan
         drawRadar('tepat_guna_lahan', [
             'Rencana Perlindungan Lokasi Pekerjaan',
             'Pengurangan Jejak Ekologis Tahap Konstruksi',
             'Pengelolaan Lahan'
         ], 'Tepat Guna Lahan', [{{ output_faktor.2}}, {{ output_faktor.3}}, {{ output_faktor.4}}], random_rgba());

         // Aspek Sumber dan Siklus Material
         drawBar('sumber_dan_siklus_material', [
             'Perencanaan dan Penjadwalan Material',
             'Efisiensi Material'
         ], 'Sumber dan Siklus Material', [{{ output_faktor.5}}, {{ output_faktor.6}}], random_rgba());

         // Aspek Manajemen Lingkungan Bangunan
         drawRadar('manajemen_lingkungan_bangunan', [
             'Manajemen Limbah Konstruksi',
             'Pelatihan Bagi Subkontraktor',
             'Manajemen Lingkungan Proyek',
             'Dokumentasi',
         ], 'Manajemen Lingkungan Bangunan', [{{ output_faktor.7}}, {{ output_faktor.8}}, {{ output_faktor.9}}, {{ output_faktor.10}}], random_rgba());

         // Aspek Kualitas Udara
         drawRadar('kualitas_udara', [
             'Penyimpanan dan Perlindungan Material',
             'Pemilihan dan Operasional Peralatan Konstruksi',
             'Kualitas Udara dalam Proyek'
         ], 'Kualitas Udara', [{{ output_faktor.11}}, {{ output_faktor.12}}, {{ output_faktor.13}}], random_rgba());

         // Aspek Kesehatan dan Kenyamanan dalam Proyek
         drawBar('kesehatan_dan_kenyamanan_dalam_proyek', [
             'Kesehatan Lingkungan Kerja Tahap Konstruksi',
             'Program Kesehatan dan Keselamatan Kerja'
         ], 'Kesehatan dan Kenyamanan dalam Proyek', [{{ output_faktor.14}}, {{ output_faktor.15}}], random_rgba());

         // Faktor Efisiensi Energi
         drawRadar('efisiensi_energi', [
             'Kendali penggunaan energi khusus dalam pencahayaan',
             'Kendali penggunaan energi khusus sistem udara',
             'Penghematan energi melalui sistem manajemen energi',
             'Penghemanatan energi pada sistem transportasi proyek, dan lainnya'
         ], 'Efisiensi Energi', [{{ output_indikator.0}}, {{ output_indikator.1}}, {{ output_indikator.2}}, {{ output_indikator.3}}], random_rgba());

         // Faktor Efisiensi Air
         drawRadar('efisiensi_air', [
             'Pemanfaatan sumber air alternatif',
             'Sistem manajemen air bersih',
             'Penghematan air',
         ], 'Efisiensi Air', [{{ output_indikator.4}}, {{ output_indikator.5}}, {{ output_indikator.6}}], random_rgba());

         // Faktor Rencana Perlindungan Lokasi Pekerjaan
         drawRadar('rencana_perlindungan', [
             'Perencanaan untuk konservasi lingkungan',
             'Rencana pengaturan air limbah dan limpasan',
             'Rencana penggunaan air untuk konstruksi',
         ], 'Rencana Perlindungan Lokasi Pekerjaan', [{{ output_indikator.7}}, {{ output_indikator.8}}, {{ output_indikator.9}}], random_rgba());

         // Faktor Pengurangan Jejak Ekologis Tahap Konstruksi
         drawBar('pengurangan_jejak', [
             'Upaya untuk meminimalkan gangguan lokasi kerja (site disturbance)',
         ], 'Pengurangan Jejak Ekologis Tahap Konstruksi', [{{ output_indikator.10}}], random_rgba(), {{max_value.indikator_18}});

         // Faktor Pengelolaan Lahan
         drawBar('pengelolaan_lahan', [
             'Upaya untuk mempertahankan tanaman dan menanam kembali',
             'Pengelolaan air limpasan'
         ], 'Pengelolaan Lahan', [{{ output_indikator.11}}, {{ output_indikator.12}}], random_rgba());

         // Faktor Perencanaan dan Penjadwalan Material
         drawBar('perencanaan_dan_penjadwalan', [
             'Perencanaan Pengadaan Material dan Peralatan'
         ], 'Perencanaan dan Penjadwalan Material', [{{ output_indikator.13}}], random_rgba(), {{max_value.indikator_13}});

         // Faktor Efisiensi Material
         drawBar('efisiensi_material', [
             'Penggunaan Material Ramah Lingkungan',
             'Metode Konstruksi Ramah Lingkungan'
         ], 'Efisiensi Material', [{{ output_indikator.14}}, {{ output_indikator.15}}], random_rgba());

         // Faktor Manajemen Limbah Konstruksi
         drawBar('manajemen_limbah', [
             'Mendaur ulang sampah konstruksi',
             'Tindakan untuk mengurangi limbah konstruksi'
         ], 'Manajemen Limbah Konstruksi', [{{ output_indikator.16}}, {{ output_indikator.17}}], random_rgba());

         // Faktor Pelatihan Bagi Subkontraktor
         drawBar('pelatihan', [
             'Ada kebijakan dan pelatihan terkait penanganan limbah bagi subkontraktor'
         ], 'Pelatihan Bagi Subkontraktor', [{{ output_indikator.18}}], random_rgba(), {{max_value.indikator_18}});

         // Faktor Manajemen Lingkungan Proyek
         drawBar('manajemen_lingkungan', [
             'Upaya mengurangi sampah akibat kemasan makanan dan minuman',
             'Pemantauan dan pengelolaan sampah konstruksi dan domestik'
         ], 'Manajemen Lingkungan Proyek', [{{ output_indikator.19}}, {{ output_indikator.20}}], random_rgba());

         // Faktor Dokumentasi
         drawBar('dokumentasi', [
             'Dokumentasi manajemen lingkungan proyek konstruksi'
         ], 'Dokumentasi', [{{ output_indikator.21}}], random_rgba(), {{max_value.indikator_21}});

         // Faktor Penyimpanan dan Perlindungan Material
         drawBar('penyimpanan_dan_perlindungan', [
             'Penyimpanan dan perlindungan material',
         ], 'Penyimpanan dan Perlindungan Material', [{{ output_indikator.22}}], random_rgba(), {{max_value.indikator_22}});

         // Faktor Pemilihan dan Operasional Peralatan Konstruksi
         drawBar('pemilihan', [
             'Kebijakan pengelolaan/operasional peralatan konstruksi',
         ], 'Pemilihan dan Operasional Peralatan Konstruksi', [{{ output_indikator.23}}], random_rgba(), {{max_value.indikator_23}});

         // Faktor Kualitas Udara dalam Proyek
         drawBar('kualitas_udara_dalam_proyek', [
             'Sistem manajemen kualitas udara',
             'Ketentuan mengenai pengelolaan kualitas udara'
         ], ' Kualitas Udara dalam Proyek', [{{ output_indikator.24}}, {{ output_indikator.25}}], random_rgba());

         // Faktor Kesehatan Lingkungan Kerja Tahap Konstruksi
         drawRadar('kesehatan_lingkungan', [
             'Kendali asap rokok',
             'Ada kebijakan dan peralatan K3',
             'Pengadaan lokasi khusus untuk membersihkan peralatan',
         ], 'Kesehatan Lingkungan Kerja Tahap Konstruksi', [{{ output_indikator.26}}, {{ output_indikator.27}}, {{ output_indikator.28}}], random_rgba());

         // Faktor Program Kesehatan dan Keselamatan Kerja
         drawBar('program_kesehatan', [
             'Pemantauan pelaksanaan program K3 secara rutin',
         ], 'Program Kesehatan dan Keselamatan Kerja', [{{ output_indikator.29}}], random_rgba(), {{max_value.indikator_29}});

         filterGraph();
         }

         $('#level-view').change(filterGraph);

         $(document).ready(function(){
            $(".total").gaugeMeter();
      });
    </script>
  </body>
</html>
