{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Construction Assessment System</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container text-center">
        <div style="margin-top: 40vh;">
            <h1 class="text-uppercase" style="font-weight: 900;">Green Construction Assessment System</h1>
            <div style="margin-left: 10vw; margin-right: 10vw;">
                A construction planning and implementation assessment system that aim
                to reduce the negative impact of construction process on the environment
                and maintain the environmental sustainability against human's current
                and future needs
            </div>
            <div class="my-4 justify-center">
                <a href="{% url 'form_data' %}?redirect=kategori"><button class="btn btn-warning text-white m-1">Start Assessment</button></a>
                <a href="{% url 'form_data' %}?redirect=pembobotan"><button class="btn btn-dark m-1">Calibrate Model</button></a>
                <a href="{% url 'tentang_kami' %}"><button class="btn btn-primary m-1">About Us</button></a>
            </div>
        </div>
        <footer class="small" style="margin-top: 25vh;">
            <span>Photo by 贝莉儿 DANIST, taken from Unsplash</span>
        </footer>
    </div>
</body>

</html>
