{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans "Sistem Penilaian Green Construction" %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <div class="container text-center">
      <div style="margin-top: 40vh">
        <h1 class="text-uppercase" style="font-weight: 900">
            {% trans "Sistem Penilaian Green Construction" %}
        </h1>
        <div style="margin-left: 10vw; margin-right: 10vw">
          {% blocktrans %}Sistem penilaian perencanaan dan pelaksanaan proses konstruksi untuk
          meminimalkan dampak negatif proses konstruksi terhadap lingkungan agar
          terjadi keseimbangan antara kemampuan lingkungan dan kebutuhan hidup
          manusia untuk generasi sekarang dan mendatang{% endblocktrans %}
        </div>
        <div class="my-4 justify-center">
          <!-- <a href="{% url 'form_data' %}?redirect=sistem_penilaian"><button class="btn btn-warning text-white m-1">Gunakan Sistem Kami</button></a> -->
          <a href="{% url 'form_data' %}?redirect=kategori"
            ><button class="btn btn-warning text-white m-1">
              {% trans "Penggunaan Model Penilaian" %}
            </button></a
          >
          <a href="{% url 'form_data' %}?redirect=pembobotan"
            ><button class="btn btn-dark m-1">
              {% trans "Penyusunan Model Penilaian" %}
            </button></a
          >
          <a href="{% url 'tentang_kami' %}"
            ><button class="btn btn-primary m-1">
              {% trans "Tentang Kami" %}
            </button></a
          >
        </div>
      </div>
      <footer class="small" style="margin-top: 25vh">
        <span>{% trans "Foto karya 贝莉儿 DANIST diambil dari Unsplash" %}</span>
      </footer>
    </div>
  </body>
</html>
