{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistem Penilaian Green Construction</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <div class="container">
      <form method="POST" action="{% url 'penilaian_user' %}">
        <div class="m-4">
          <h1 style="font-weight: 900">NILAI KATEGORI</h1>
          <span
            >Sebelum anda menggunakan sistem ini, isilah form di bawah ini
            terlebih dahulu. Semua informasi bersifat rahasia/tidak
            dipublikasikan.</span
          >
        </div>
        <div class="card shadow p-4 text-dark">
            <table class="text-center table table-borderless">
                <thead>
                    <th></th>
                    <th>Lower</th>
                    <th>Middle</th>
                    <th>Upper</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Sangat Buruk</td>
                        <td>
                            <input type="text" name="sbr_lower" id="input1" value={{res.0}} required/>
                        </td>
                        <td>
                            <input type="text" name="sbr_middle" id="input2" value={{res.1}} required/>
                        </td>
                        <td>
                            <input type="text" name="sbr_upper" id="input3" value={{res.2}} required/>
                        </td>
                    </tr>
                    <tr>
                        <td>Buruk</td>
                        <td>
                            <input type="text" name="br_lower" id="input4" value={{res.3}} required/>
                        </td>
                        <td>
                            <input type="text" name="br_middle" id="input5" value={{res.4}} required/>
                        </td>
                        <td>
                            <input type="text" name="br_upper" id="input6" value={{res.5}} required/>
                        </td>
                    </tr>
                    <tr>
                        <td>Cukup</td>
                        <td>
                            <input type="text" name="c_lower" id="input7" value={{res.6}} required/>
                        </td>
                        <td>
                            <input type="text" name="c_middle" id="input8" value={{res.7}} required/>
                        </td>
                        <td>
                            <input type="text" name="c_upper" id="input9" value={{res.8}} required/>
                        </td>
                    </tr>
                    <tr>
                        <td>Baik</td>
                        <td>
                            <input type="text" name="b_lower" id="input10" value={{res.9}} required/>
                        </td>
                        <td>
                            <input type="text" name="b_middle" id="input11" value={{res.10}} required/>
                        </td>
                        <td>
                            <input type="text" name="b_upper" id="input12" value={{res.11}} required/>
                        </td>
                    </tr>
                    <tr>
                        <td>Sangat Baik</td>
                        <td>
                            <input type="text" name="sb_lower" id="input13" value={{res.12}} required/>
                        </td>
                        <td>
                            <input type="text" name="sb_middle" id="input14" value={{res.13}} required/>
                        </td>
                        <td>
                            <input type="text" name="sb_upper" id="input15" value={{res.14}} required/>
                        </td>
                    </tr>
                </tbody>
            </table>
        <div class="my-4 text-right">
            <button class="btn btn-dark" type="submit">Next</button>
        </div>
      </form>
    </div>
    <button class="btn btn-dark" onclick="ubah()" style="width: 100%;">Cek Grafik</button>
    <div id="oldContainer" style="height: 300px; width: 100%;"></div>
    <div id="chartContainer" style="height: 300px; width: 100%; display: none;"></div>
    
    <script>
        
    var chart = new CanvasJS.Chart("oldContainer", {

title: {
    text: "Grafik Himpunan Kategori Penilaian"
},
axisX: {
    // valueFormatString: "MMM YYYY"
},
axisY2: {
    title: "Fuzzy Membership Value",
},
toolTip: {
    shared: true
},
legend: {
    cursor: "pointer",
    verticalAlign: "top",
    horizontalAlign: "center",
    dockInsidePlotArea: true,
    itemclick: toogleDataSeries
},
data: [{
    type:"line",
  axisYType: "primary",
    name: "Sangat Buruk",
  showInLegend: true,
    markerSize: 0,
    dataPoints: [
        { x: 0, y: 1 },
        { x: 20, y: 1 },
        { x: 29, y: 0 }
    ]
},
{
    type: "line",
    axisYType: "primary",
    name: "Buruk",
    showInLegend: true,
    markerSize: 0,
    yValueFormatString: "",
    dataPoints: [
        { x: 24, y: 0 },
        { x: 44.5, y: 1 },
        { x: 53.7, y: 0 }      		]
},
{
    type: "line",
    axisYType: "primary",
    name: "Cukup",
    showInLegend: true,
    markerSize: 0,
    yValueFormatString: "",
    dataPoints: [
        { x: 49, y: 0 },
        { x: 67.8, y: 1 },
        { x: 74, y: 0 }
    ]
},
{
    type: "line",
    axisYType: "primary",
    name: "Baik",
    showInLegend: true,
    markerSize: 0,
    yValueFormatString: "",
    dataPoints: [
        { x: 66, y: 0 },
        { x: 78.8, y: 1 },
        { x: 87.5, y: 0 }
    ]
},
{
    type: "line",
    axisYType: "primary",
    name: "Sangat Baik",
    showInLegend: true,
    markerSize: 0,
    yValueFormatString: "",
    dataPoints: [
        { x: 78.8, y: 0 },
        { x: 92.2, y: 1 },
        { x: 100, y: 1 }
    ]
}]
});
chart.render();


function toogleDataSeries(e){
if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
} else{
    e.dataSeries.visible = true;
}
chart.render();
}
    
      function ubah(){
      $('#oldContainer').hide()
      $('#chartContainer').show()
      var input1 = document.getElementById('input1').value
      var input2 = document.getElementById('input2').value
      var input3 = document.getElementById('input3').value
      var input4 = document.getElementById('input4').value
      var input5 = document.getElementById('input5').value
      var input6 = document.getElementById('input6').value
      var input7 = document.getElementById('input7').value
      var input8 = document.getElementById('input8').value
      var input9 = document.getElementById('input9').value
      var input10 = document.getElementById('input10').value
      var input11 = document.getElementById('input11').value
      var input12 = document.getElementById('input12').value
      var input13 = document.getElementById('input13').value
      var input14= document.getElementById('input14').value
      var input15 = document.getElementById('input15').value
      res = [input1,input2, input3, input4, input5, input6, input7, input8, input9, input10, input11, input12, input13, input14, input15]
      
      var chart = new CanvasJS.Chart("chartContainer", {

      	title: {
      		text: "Grafik Himpunan Kategori Penilaian"
      	},
      	axisX: {
      		// valueFormatString: "MMM YYYY"
      	},
      	axisY2: {
      		title: "Fuzzy Membership Value",
      	},
      	toolTip: {
      		shared: true
      	},
      	legend: {
      		cursor: "pointer",
      		verticalAlign: "top",
      		horizontalAlign: "center",
      		dockInsidePlotArea: true,
      		itemclick: toogleDataSeries
      	},
      	data: [{
      		type:"line",
            axisYType: "primary",
      		name: "Sangat Buruk",
            showInLegend: true,
      		markerSize: 0,
      		dataPoints: [
      			{ x: res[0], y: 1 },
      			{ x: res[1], y: 1 },
      			{ x: res[2], y: 0 }
      		]
      	},
      	{
      		type: "line",
      		axisYType: "primary",
      		name: "Buruk",
      		showInLegend: true,
      		markerSize: 0,
      		yValueFormatString: "",
      		dataPoints: [
      			{ x: res[3], y: 0 },
      			{ x: res[4], y: 1 },
      			{ x: res[5], y: 0 }      		]
      	},
      	{
      		type: "line",
      		axisYType: "primary",
      		name: "Cukup",
      		showInLegend: true,
      		markerSize: 0,
      		yValueFormatString: "",
      		dataPoints: [
      			{ x: res[6], y: 0 },
      			{ x: res[7], y: 1 },
      			{ x: res[8], y: 0 }
      		]
      	},
      	{
      		type: "line",
      		axisYType: "primary",
      		name: "Baik",
      		showInLegend: true,
      		markerSize: 0,
      		yValueFormatString: "",
      		dataPoints: [
      			{ x: res[9], y: 0 },
      			{ x: res[10], y: 1 },
      			{ x: res[11], y: 0 }
      		]
      	},
        {
      		type: "line",
      		axisYType: "primary",
      		name: "Sangat Baik",
      		showInLegend: true,
      		markerSize: 0,
      		yValueFormatString: "",
      		dataPoints: [
      			{ x: res[12], y: 0 },
      			{ x: res[13], y: 1 },
      			{ x: 100, y: 1 }
      		]
      	}]
      });
      chart.render();

      }
      function toogleDataSeries(e){
      	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
      		e.dataSeries.visible = false;
      	} else{
      		e.dataSeries.visible = true;
      	}
      	chart.render();
      }
    </script>
  </body>
</html>
