{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Penilaian Green Construction</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="m-4 text-white d-flex justify-content-between">
            <h1 style="font-weight: 900;">PEMBOBOTAN</h1>
            <!-- <div>
                <p><i class="zmdi zmdi-help zmdi-hc-2x"></i></p>
            </div> -->
        </div>
        <div class="card text-center text-dark mb-4">
            <div class="text-left m-4">
                <form method="POST">
                    <h3>Pembobotan Indikator</h3>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">A.1 Faktor Efisiensi Energi
                        <span class="text-danger" style="font-size: medium;">{{ error.a1 }}</span></p>

                    <p class="font-weight-bold">A.1.1 Indikator utama kendali penggunaan energi khusus sistem
                        pencahayaan</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kendali penggunaan energi khusus sistem pencahayaan</td>
                                <td><input type="radio" name="a11_1" value="9" required></td>
                                <td><input type="radio" name="a11_1" value="8" required></td>
                                <td><input type="radio" name="a11_1" value="7" required></td>
                                <td><input type="radio" name="a11_1" value="6" required></td>
                                <td><input type="radio" name="a11_1" value="5" required></td>
                                <td><input type="radio" name="a11_1" value="4" required></td>
                                <td><input type="radio" name="a11_1" value="3" required></td>
                                <td><input type="radio" name="a11_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a11_1" value="1" required></td>
                                <td><input type="radio" name="a11_1" value="1/2" required></td>
                                <td><input type="radio" name="a11_1" value="1/3" required></td>
                                <td><input type="radio" name="a11_1" value="1/4" required></td>
                                <td><input type="radio" name="a11_1" value="1/5" required></td>
                                <td><input type="radio" name="a11_1" value="1/6" required></td>
                                <td><input type="radio" name="a11_1" value="1/7" required></td>
                                <td><input type="radio" name="a11_1" value="1/8" required></td>
                                <td><input type="radio" name="a11_1" value="1/9" required></td>
                                <td>Kendali penggunaan energi khusus sistem udara</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kendali penggunaan energi khusus sistem pencahayaan</td>
                                <td><input type="radio" name="a11_2" value="9" required></td>
                                <td><input type="radio" name="a11_2" value="8" required></td>
                                <td><input type="radio" name="a11_2" value="7" required></td>
                                <td><input type="radio" name="a11_2" value="6" required></td>
                                <td><input type="radio" name="a11_2" value="5" required></td>
                                <td><input type="radio" name="a11_2" value="4" required></td>
                                <td><input type="radio" name="a11_2" value="3" required></td>
                                <td><input type="radio" name="a11_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a11_2" value="1" required></td>
                                <td><input type="radio" name="a11_2" value="1/2" required></td>
                                <td><input type="radio" name="a11_2" value="1/3" required></td>
                                <td><input type="radio" name="a11_2" value="1/4" required></td>
                                <td><input type="radio" name="a11_2" value="1/5" required></td>
                                <td><input type="radio" name="a11_2" value="1/6" required></td>
                                <td><input type="radio" name="a11_2" value="1/7" required></td>
                                <td><input type="radio" name="a11_2" value="1/8" required></td>
                                <td><input type="radio" name="a11_2" value="1/9" required></td>
                                <td>Penghematan energi melalui sistem manajemen energi</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Kendali penggunaan energi khusus sistem pencahayaan</td>
                                <td><input type="radio" name="a11_3" value="9" required></td>
                                <td><input type="radio" name="a11_3" value="8" required></td>
                                <td><input type="radio" name="a11_3" value="7" required></td>
                                <td><input type="radio" name="a11_3" value="6" required></td>
                                <td><input type="radio" name="a11_3" value="5" required></td>
                                <td><input type="radio" name="a11_3" value="4" required></td>
                                <td><input type="radio" name="a11_3" value="3" required></td>
                                <td><input type="radio" name="a11_3" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a11_3" value="1" required></td>
                                <td><input type="radio" name="a11_3" value="1/2" required></td>
                                <td><input type="radio" name="a11_3" value="1/3" required></td>
                                <td><input type="radio" name="a11_3" value="1/4" required></td>
                                <td><input type="radio" name="a11_3" value="1/5" required></td>
                                <td><input type="radio" name="a11_3" value="1/6" required></td>
                                <td><input type="radio" name="a11_3" value="1/7" required></td>
                                <td><input type="radio" name="a11_3" value="1/8" required></td>
                                <td><input type="radio" name="a11_3" value="1/9" required></td>
                                <td>Penghemanatan energi pada sistem transportasi proyek, dan lainnya</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">A.1.2 Indikator utama kendali penggunaan energi khusus sistem udara</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kendali penggunaan energi khusus sistem udara</td>
                                <td><input type="radio" name="a12_1" value="9" required></td>
                                <td><input type="radio" name="a12_1" value="8" required></td>
                                <td><input type="radio" name="a12_1" value="7" required></td>
                                <td><input type="radio" name="a12_1" value="6" required></td>
                                <td><input type="radio" name="a12_1" value="5" required></td>
                                <td><input type="radio" name="a12_1" value="4" required></td>
                                <td><input type="radio" name="a12_1" value="3" required></td>
                                <td><input type="radio" name="a12_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a12_1" value="1" required></td>
                                <td><input type="radio" name="a12_1" value="1/2" required></td>
                                <td><input type="radio" name="a12_1" value="1/3" required></td>
                                <td><input type="radio" name="a12_1" value="1/4" required></td>
                                <td><input type="radio" name="a12_1" value="1/5" required></td>
                                <td><input type="radio" name="a12_1" value="1/6" required></td>
                                <td><input type="radio" name="a12_1" value="1/7" required></td>
                                <td><input type="radio" name="a12_1" value="1/8" required></td>
                                <td><input type="radio" name="a12_1" value="1/9" required></td>
                                <td>Penghematan energi melalui sistem manajemen energi</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kendali penggunaan energi khusus sistem udara</td>
                                <td><input type="radio" name="a12_2" value="9" required></td>
                                <td><input type="radio" name="a12_2" value="8" required></td>
                                <td><input type="radio" name="a12_2" value="7" required></td>
                                <td><input type="radio" name="a12_2" value="6" required></td>
                                <td><input type="radio" name="a12_2" value="5" required></td>
                                <td><input type="radio" name="a12_2" value="4" required></td>
                                <td><input type="radio" name="a12_2" value="3" required></td>
                                <td><input type="radio" name="a12_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a12_2" value="1" required></td>
                                <td><input type="radio" name="a12_2" value="1/2" required></td>
                                <td><input type="radio" name="a12_2" value="1/3" required></td>
                                <td><input type="radio" name="a12_2" value="1/4" required></td>
                                <td><input type="radio" name="a12_2" value="1/5" required></td>
                                <td><input type="radio" name="a12_2" value="1/6" required></td>
                                <td><input type="radio" name="a12_2" value="1/7" required></td>
                                <td><input type="radio" name="a12_2" value="1/8" required></td>
                                <td><input type="radio" name="a12_2" value="1/9" required></td>
                                <td>Penghemanatan energi pada sistem transportasi proyek, dan lainnya</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">A.1.3 Indikator utama penghematan energi melalui sistem manajemen energi
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Penghematan energi melalui sistem manajemen energi</td>
                                <td><input type="radio" name="a13_1" value="9" required></td>
                                <td><input type="radio" name="a13_1" value="8" required></td>
                                <td><input type="radio" name="a13_1" value="7" required></td>
                                <td><input type="radio" name="a13_1" value="6" required></td>
                                <td><input type="radio" name="a13_1" value="5" required></td>
                                <td><input type="radio" name="a13_1" value="4" required></td>
                                <td><input type="radio" name="a13_1" value="3" required></td>
                                <td><input type="radio" name="a13_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="a13_1" value="1" required></td>
                                <td><input type="radio" name="a13_1" value="1/2" required></td>
                                <td><input type="radio" name="a13_1" value="1/3" required></td>
                                <td><input type="radio" name="a13_1" value="1/4" required></td>
                                <td><input type="radio" name="a13_1" value="1/5" required></td>
                                <td><input type="radio" name="a13_1" value="1/6" required></td>
                                <td><input type="radio" name="a13_1" value="1/7" required></td>
                                <td><input type="radio" name="a13_1" value="1/8" required></td>
                                <td><input type="radio" name="a13_1" value="1/9" required></td>
                                <td>Penghemanatan energi pada sistem transportasi proyek, dan lainnya</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">B.1 Faktor Efisiensi Air <span
                            class="text-danger" style="font-size: medium;">{{ error.b1 }}</span></p>

                    <p class="font-weight-bold">B.1.1 Indikator utama pemanfataan sumber air alternatif</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kendali penggunaan energi khusus sistem pencahayaan</td>
                                <td><input type="radio" name="b11_1" value="9" required></td>
                                <td><input type="radio" name="b11_1" value="8" required></td>
                                <td><input type="radio" name="b11_1" value="7" required></td>
                                <td><input type="radio" name="b11_1" value="6" required></td>
                                <td><input type="radio" name="b11_1" value="5" required></td>
                                <td><input type="radio" name="b11_1" value="4" required></td>
                                <td><input type="radio" name="b11_1" value="3" required></td>
                                <td><input type="radio" name="b11_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="b11_1" value="1" required></td>
                                <td><input type="radio" name="b11_1" value="1/2" required></td>
                                <td><input type="radio" name="b11_1" value="1/3" required></td>
                                <td><input type="radio" name="b11_1" value="1/4" required></td>
                                <td><input type="radio" name="b11_1" value="1/5" required></td>
                                <td><input type="radio" name="b11_1" value="1/6" required></td>
                                <td><input type="radio" name="b11_1" value="1/7" required></td>
                                <td><input type="radio" name="b11_1" value="1/8" required></td>
                                <td><input type="radio" name="b11_1" value="1/9" required></td>
                                <td>Kendali penggunaan energi khusus sistem udara</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kendali penggunaan energi khusus sistem pencahayaan</td>
                                <td><input type="radio" name="b11_2" value="9" required></td>
                                <td><input type="radio" name="b11_2" value="8" required></td>
                                <td><input type="radio" name="b11_2" value="7" required></td>
                                <td><input type="radio" name="b11_2" value="6" required></td>
                                <td><input type="radio" name="b11_2" value="5" required></td>
                                <td><input type="radio" name="b11_2" value="4" required></td>
                                <td><input type="radio" name="b11_2" value="3" required></td>
                                <td><input type="radio" name="b11_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="b11_2" value="1" required></td>
                                <td><input type="radio" name="b11_2" value="1/2" required></td>
                                <td><input type="radio" name="b11_2" value="1/3" required></td>
                                <td><input type="radio" name="b11_2" value="1/4" required></td>
                                <td><input type="radio" name="b11_2" value="1/5" required></td>
                                <td><input type="radio" name="b11_2" value="1/6" required></td>
                                <td><input type="radio" name="b11_2" value="1/7" required></td>
                                <td><input type="radio" name="b11_2" value="1/8" required></td>
                                <td><input type="radio" name="b11_2" value="1/9" required></td>
                                <td>Penghematan energi melalui sistem manajemen energi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">B.1.2 Indikator utama sistem manajemen air bersih</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kendali penggunaan energi khusus sistem udara</td>
                                <td><input type="radio" name="b12_1" value="9" required></td>
                                <td><input type="radio" name="b12_1" value="8" required></td>
                                <td><input type="radio" name="b12_1" value="7" required></td>
                                <td><input type="radio" name="b12_1" value="6" required></td>
                                <td><input type="radio" name="b12_1" value="5" required></td>
                                <td><input type="radio" name="b12_1" value="4" required></td>
                                <td><input type="radio" name="b12_1" value="3" required></td>
                                <td><input type="radio" name="b12_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="b12_1" value="1" required></td>
                                <td><input type="radio" name="b12_1" value="1/2" required></td>
                                <td><input type="radio" name="b12_1" value="1/3" required></td>
                                <td><input type="radio" name="b12_1" value="1/4" required></td>
                                <td><input type="radio" name="b12_1" value="1/5" required></td>
                                <td><input type="radio" name="b12_1" value="1/6" required></td>
                                <td><input type="radio" name="b12_1" value="1/7" required></td>
                                <td><input type="radio" name="b12_1" value="1/8" required></td>
                                <td><input type="radio" name="b12_1" value="1/9" required></td>
                                <td>Penghematan energi melalui sistem manajemen energi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">C.1 Faktor Rencana
                        Perlindungan Lokasi Pekerjaan <span class="text-danger"
                            style="font-size: medium;">{{ error.c1 }}</span></p>

                    <p class="font-weight-bold">C.1.1 Indikator utama perencanaan untuk konservasi lingkungan</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Perencanaan untuk konservasi lingkungan</td>
                                <td><input type="radio" name="c11_1" value="9" required></td>
                                <td><input type="radio" name="c11_1" value="8" required></td>
                                <td><input type="radio" name="c11_1" value="7" required></td>
                                <td><input type="radio" name="c11_1" value="6" required></td>
                                <td><input type="radio" name="c11_1" value="5" required></td>
                                <td><input type="radio" name="c11_1" value="4" required></td>
                                <td><input type="radio" name="c11_1" value="3" required></td>
                                <td><input type="radio" name="c11_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c11_1" value="1" required></td>
                                <td><input type="radio" name="c11_1" value="1/2" required></td>
                                <td><input type="radio" name="c11_1" value="1/3" required></td>
                                <td><input type="radio" name="c11_1" value="1/4" required></td>
                                <td><input type="radio" name="c11_1" value="1/5" required></td>
                                <td><input type="radio" name="c11_1" value="1/6" required></td>
                                <td><input type="radio" name="c11_1" value="1/7" required></td>
                                <td><input type="radio" name="c11_1" value="1/8" required></td>
                                <td><input type="radio" name="c11_1" value="1/9" required></td>
                                <td>Rencana pengaturan air limbah dan limpasan</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Perencanaan untuk konservasi lingkungan</td>
                                <td><input type="radio" name="c11_2" value="9" required></td>
                                <td><input type="radio" name="c11_2" value="8" required></td>
                                <td><input type="radio" name="c11_2" value="7" required></td>
                                <td><input type="radio" name="c11_2" value="6" required></td>
                                <td><input type="radio" name="c11_2" value="5" required></td>
                                <td><input type="radio" name="c11_2" value="4" required></td>
                                <td><input type="radio" name="c11_2" value="3" required></td>
                                <td><input type="radio" name="c11_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c11_2" value="1" required></td>
                                <td><input type="radio" name="c11_2" value="1/2" required></td>
                                <td><input type="radio" name="c11_2" value="1/3" required></td>
                                <td><input type="radio" name="c11_2" value="1/4" required></td>
                                <td><input type="radio" name="c11_2" value="1/5" required></td>
                                <td><input type="radio" name="c11_2" value="1/6" required></td>
                                <td><input type="radio" name="c11_2" value="1/7" required></td>
                                <td><input type="radio" name="c11_2" value="1/8" required></td>
                                <td><input type="radio" name="c11_2" value="1/9" required></td>
                                <td>Rencana penggunaan air untuk konstruksi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">C.1.2 Indikator utama rencana pengaturan air limbah dan limpasan</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Rencana pengaturan air limbah dan limpasan</td>
                                <td><input type="radio" name="c12_1" value="9" required></td>
                                <td><input type="radio" name="c12_1" value="8" required></td>
                                <td><input type="radio" name="c12_1" value="7" required></td>
                                <td><input type="radio" name="c12_1" value="6" required></td>
                                <td><input type="radio" name="c12_1" value="5" required></td>
                                <td><input type="radio" name="c12_1" value="4" required></td>
                                <td><input type="radio" name="c12_1" value="3" required></td>
                                <td><input type="radio" name="c12_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c12_1" value="1" required></td>
                                <td><input type="radio" name="c12_1" value="1/2" required></td>
                                <td><input type="radio" name="c12_1" value="1/3" required></td>
                                <td><input type="radio" name="c12_1" value="1/4" required></td>
                                <td><input type="radio" name="c12_1" value="1/5" required></td>
                                <td><input type="radio" name="c12_1" value="1/6" required></td>
                                <td><input type="radio" name="c12_1" value="1/7" required></td>
                                <td><input type="radio" name="c12_1" value="1/8" required></td>
                                <td><input type="radio" name="c12_1" value="1/9" required></td>
                                <td>Rencana penggunaan air untuk konstruksi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">C.3 Faktor Pengelolaan Lahan <span class="text-danger" style="font-size: medium;">{{ error.c3 }}</span></p>

                    <p class="font-weight-bold">C.3.1 Indikator utama upaya untuk mempertahankan tanaman dan menanam kembali</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Upaya untuk mempertahankan tanaman dan menanam kembali</td>
                                <td><input type="radio" name="c31_1" value="9" required></td>
                                <td><input type="radio" name="c31_1" value="8" required></td>
                                <td><input type="radio" name="c31_1" value="7" required></td>
                                <td><input type="radio" name="c31_1" value="6" required></td>
                                <td><input type="radio" name="c31_1" value="5" required></td>
                                <td><input type="radio" name="c31_1" value="4" required></td>
                                <td><input type="radio" name="c31_1" value="3" required></td>
                                <td><input type="radio" name="c31_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c31_1" value="1" required></td>
                                <td><input type="radio" name="c31_1" value="1/2" required></td>
                                <td><input type="radio" name="c31_1" value="1/3" required></td>
                                <td><input type="radio" name="c31_1" value="1/4" required></td>
                                <td><input type="radio" name="c31_1" value="1/5" required></td>
                                <td><input type="radio" name="c31_1" value="1/6" required></td>
                                <td><input type="radio" name="c31_1" value="1/7" required></td>
                                <td><input type="radio" name="c31_1" value="1/8" required></td>
                                <td><input type="radio" name="c31_1" value="1/9" required></td>
                                <td>Pengelolaan air limpasan</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">D.2 Faktor Pengelolaan
                        Material <span class="text-danger" style="font-size: medium;">{{ error.d2 }}</span></p>

                    <p class="font-weight-bold">D.2.1 Indikator utama penggunaan material ramah lingkungan</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Penggunaan material ramah lingkungan</td>
                                <td><input type="radio" name="d21_1" value="9" required></td>
                                <td><input type="radio" name="d21_1" value="8" required></td>
                                <td><input type="radio" name="d21_1" value="7" required></td>
                                <td><input type="radio" name="d21_1" value="6" required></td>
                                <td><input type="radio" name="d21_1" value="5" required></td>
                                <td><input type="radio" name="d21_1" value="4" required></td>
                                <td><input type="radio" name="d21_1" value="3" required></td>
                                <td><input type="radio" name="d21_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="d21_1" value="1" required></td>
                                <td><input type="radio" name="d21_1" value="1/2" required></td>
                                <td><input type="radio" name="d21_1" value="1/3" required></td>
                                <td><input type="radio" name="d21_1" value="1/4" required></td>
                                <td><input type="radio" name="d21_1" value="1/5" required></td>
                                <td><input type="radio" name="d21_1" value="1/6" required></td>
                                <td><input type="radio" name="d21_1" value="1/7" required></td>
                                <td><input type="radio" name="d21_1" value="1/8" required></td>
                                <td><input type="radio" name="d21_1" value="1/9" required></td>
                                <td>Metode konstruksi ramah lingkungan</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">E.1 Faktor Manajemen Limbah Konstruksi <span class="text-danger" style="font-size: medium;">{{ error.e1 }}</span></p>

                    <p class="font-weight-bold">E.1.1 Indikator utama mendaur ulang limbah konstruksi</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mendaur ulang limbah konstruksi</td>
                                <td><input type="radio" name="e11_1" value="9" required></td>
                                <td><input type="radio" name="e11_1" value="8" required></td>
                                <td><input type="radio" name="e11_1" value="7" required></td>
                                <td><input type="radio" name="e11_1" value="6" required></td>
                                <td><input type="radio" name="e11_1" value="5" required></td>
                                <td><input type="radio" name="e11_1" value="4" required></td>
                                <td><input type="radio" name="e11_1" value="3" required></td>
                                <td><input type="radio" name="e11_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e11_1" value="1" required></td>
                                <td><input type="radio" name="e11_1" value="1/2" required></td>
                                <td><input type="radio" name="e11_1" value="1/3" required></td>
                                <td><input type="radio" name="e11_1" value="1/4" required></td>
                                <td><input type="radio" name="e11_1" value="1/5" required></td>
                                <td><input type="radio" name="e11_1" value="1/6" required></td>
                                <td><input type="radio" name="e11_1" value="1/7" required></td>
                                <td><input type="radio" name="e11_1" value="1/8" required></td>
                                <td><input type="radio" name="e11_1" value="1/9" required></td>
                                <td>Tindakan untuk mengurangi limbah konstruksi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">E.3 Faktor Manajemen Lingkungan Proyek Konstruksi <span class="text-danger" style="font-size: medium;">{{ error.e3 }}</span></p>

                    <p class="font-weight-bold">E.3.1 Indikator utama upaya mengurangi sampah akibat kemasan makanan dan minuman</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Upaya mengurangi sampah akibat kemasan makanan dan minuman</td>
                                <td><input type="radio" name="e31_1" value="9" required></td>
                                <td><input type="radio" name="e31_1" value="8" required></td>
                                <td><input type="radio" name="e31_1" value="7" required></td>
                                <td><input type="radio" name="e31_1" value="6" required></td>
                                <td><input type="radio" name="e31_1" value="5" required></td>
                                <td><input type="radio" name="e31_1" value="4" required></td>
                                <td><input type="radio" name="e31_1" value="3" required></td>
                                <td><input type="radio" name="e31_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e31_1" value="1" required></td>
                                <td><input type="radio" name="e31_1" value="1/2" required></td>
                                <td><input type="radio" name="e31_1" value="1/3" required></td>
                                <td><input type="radio" name="e31_1" value="1/4" required></td>
                                <td><input type="radio" name="e31_1" value="1/5" required></td>
                                <td><input type="radio" name="e31_1" value="1/6" required></td>
                                <td><input type="radio" name="e31_1" value="1/7" required></td>
                                <td><input type="radio" name="e31_1" value="1/8" required></td>
                                <td><input type="radio" name="e31_1" value="1/9" required></td>
                                <td>Pemantauan dan pengelolaan sampah konstruksi dan domestik</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">F.3 Faktor Kualitas Udara dalam Proyek <span class="text-danger" style="font-size: medium;">{{ error.f3 }}</span></p>

                    <p class="font-weight-bold">F.3.1 Indikator utama sistem manajemen kualitas udara</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Sistem manajemen kualitas udara</td>
                                <td><input type="radio" name="f31_1" value="9" required></td>
                                <td><input type="radio" name="f31_1" value="8" required></td>
                                <td><input type="radio" name="f31_1" value="7" required></td>
                                <td><input type="radio" name="f31_1" value="6" required></td>
                                <td><input type="radio" name="f31_1" value="5" required></td>
                                <td><input type="radio" name="f31_1" value="4" required></td>
                                <td><input type="radio" name="f31_1" value="3" required></td>
                                <td><input type="radio" name="f31_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="f31_1" value="1" required></td>
                                <td><input type="radio" name="f31_1" value="1/2" required></td>
                                <td><input type="radio" name="f31_1" value="1/3" required></td>
                                <td><input type="radio" name="f31_1" value="1/4" required></td>
                                <td><input type="radio" name="f31_1" value="1/5" required></td>
                                <td><input type="radio" name="f31_1" value="1/6" required></td>
                                <td><input type="radio" name="f31_1" value="1/7" required></td>
                                <td><input type="radio" name="f31_1" value="1/8" required></td>
                                <td><input type="radio" name="f31_1" value="1/9" required></td>
                                <td>Ketentuan mengenai pengelolaan kualitas udara</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">G.1 Faktor kesehatan
                        lingkungan kerja tahap konstruksi <span class="text-danger"
                            style="font-size: medium;">{{ error.g1 }}</span></p>

                    <p class="font-weight-bold">G.1.1 Indikator utama kendali asap rokok</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kendali asap rokok</td>
                                <td><input type="radio" name="g11_1" value="9" required></td>
                                <td><input type="radio" name="g11_1" value="8" required></td>
                                <td><input type="radio" name="g11_1" value="7" required></td>
                                <td><input type="radio" name="g11_1" value="6" required></td>
                                <td><input type="radio" name="g11_1" value="5" required></td>
                                <td><input type="radio" name="g11_1" value="4" required></td>
                                <td><input type="radio" name="g11_1" value="3" required></td>
                                <td><input type="radio" name="g11_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="g11_1" value="1" required></td>
                                <td><input type="radio" name="g11_1" value="1/2" required></td>
                                <td><input type="radio" name="g11_1" value="1/3" required></td>
                                <td><input type="radio" name="g11_1" value="1/4" required></td>
                                <td><input type="radio" name="g11_1" value="1/5" required></td>
                                <td><input type="radio" name="g11_1" value="1/6" required></td>
                                <td><input type="radio" name="g11_1" value="1/7" required></td>
                                <td><input type="radio" name="g11_1" value="1/8" required></td>
                                <td><input type="radio" name="g11_1" value="1/9" required></td>
                                <td>Ada kebijakan dan peralatan K3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kendali asap rokok</td>
                                <td><input type="radio" name="g11_2" value="9" required></td>
                                <td><input type="radio" name="g11_2" value="8" required></td>
                                <td><input type="radio" name="g11_2" value="7" required></td>
                                <td><input type="radio" name="g11_2" value="6" required></td>
                                <td><input type="radio" name="g11_2" value="5" required></td>
                                <td><input type="radio" name="g11_2" value="4" required></td>
                                <td><input type="radio" name="g11_2" value="3" required></td>
                                <td><input type="radio" name="g11_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="g11_2" value="1" required></td>
                                <td><input type="radio" name="g11_2" value="1/2" required></td>
                                <td><input type="radio" name="g11_2" value="1/3" required></td>
                                <td><input type="radio" name="g11_2" value="1/4" required></td>
                                <td><input type="radio" name="g11_2" value="1/5" required></td>
                                <td><input type="radio" name="g11_2" value="1/6" required></td>
                                <td><input type="radio" name="g11_2" value="1/7" required></td>
                                <td><input type="radio" name="g11_2" value="1/8" required></td>
                                <td><input type="radio" name="g11_2" value="1/9" required></td>
                                <td>Pengadaan lokasi khusus untuk membersihkan peralatan</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">G.1.2 Indikator utama ada kebijakan dan peralatan K3</p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Ada kebijakan dan peralatan K3</td>
                                <td><input type="radio" name="g12_1" value="9" required></td>
                                <td><input type="radio" name="g12_1" value="8" required></td>
                                <td><input type="radio" name="g12_1" value="7" required></td>
                                <td><input type="radio" name="g12_1" value="6" required></td>
                                <td><input type="radio" name="g12_1" value="5" required></td>
                                <td><input type="radio" name="g12_1" value="4" required></td>
                                <td><input type="radio" name="g12_1" value="3" required></td>
                                <td><input type="radio" name="g12_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="g12_1" value="1" required></td>
                                <td><input type="radio" name="g12_1" value="1/2" required></td>
                                <td><input type="radio" name="g12_1" value="1/3" required></td>
                                <td><input type="radio" name="g12_1" value="1/4" required></td>
                                <td><input type="radio" name="g12_1" value="1/5" required></td>
                                <td><input type="radio" name="g12_1" value="1/6" required></td>
                                <td><input type="radio" name="g12_1" value="1/7" required></td>
                                <td><input type="radio" name="g12_1" value="1/8" required></td>
                                <td><input type="radio" name="g12_1" value="1/9" required></td>
                                <td>Pengadaan lokasi khusus untuk membersihkan peralatan</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right mt-4">
                        <button type="submit" class="btn btn-dark">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        {% for key, value in data.items %}
            $("input[name={{key}}][value='{{value}}']").prop("checked", true);
        {% endfor %}
    </script>
</body>

</html>