{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Sistem Penilaian Green Construction" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="m-4 text-white d-flex justify-content-between">
            <h1 style="font-weight: 900;">{% trans "PEMBOBOTAN" %}</h1>
        </div>
        <div class="card text-center text-dark mb-4">
            <div class="text-left m-4">
                <form method="POST">
                    <h3>{% trans "Pembobotan Aspek" %} <span class="text-danger" style="font-size: medium;">{{ error }}</span></h3>

                    <p class="font-weight-bold">A. {% trans "Aspek Konservasi Energi" %} <i class="zmdi zmdi-pin-help"
                            data-toggle="tooltip" data-placement="top"
                            title="{% trans 'Penilaian terhadap upaya pemantauan dan pencatatan terhadap pemakaian, penghematan konsumsi energi, dan pengendalian penggunaan sumber energi yang berdampak terhadap lingkungan selama proses konstruksi.' %}"></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">{% trans "Kriteria A" %}</th>
                                <th colspan="8">{% trans "Skala" %}</th>
                                <th></th>
                                <th colspan="8">{% trans "Skala" %}</th>
                                <th style="width: 30%;">{% trans "Kriteria B" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_air" value="9" required></td>
                                <td><input type="radio" name="energi_air" value="8" required></td>
                                <td><input type="radio" name="energi_air" value="7" required></td>
                                <td><input type="radio" name="energi_air" value="6" required></td>
                                <td><input type="radio" name="energi_air" value="5" required></td>
                                <td><input type="radio" name="energi_air" value="4" required></td>
                                <td><input type="radio" name="energi_air" value="3" required></td>
                                <td><input type="radio" name="energi_air" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_air" value="1" required></td>
                                <td><input type="radio" name="energi_air" value="1/2" required></td>
                                <td><input type="radio" name="energi_air" value="1/3" required></td>
                                <td><input type="radio" name="energi_air" value="1/4" required></td>
                                <td><input type="radio" name="energi_air" value="1/5" required></td>
                                <td><input type="radio" name="energi_air" value="1/6" required></td>
                                <td><input type="radio" name="energi_air" value="1/7" required></td>
                                <td><input type="radio" name="energi_air" value="1/8" required></td>
                                <td><input type="radio" name="energi_air" value="1/9" required></td>
                                <td>{% trans "Aspek Konservasi Air" %}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_tepat_guna" value="9" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="8" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="7" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="6" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="5" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="4" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="3" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_tepat_guna" value="1" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/2" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/3" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/4" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/5" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/6" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/7" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/8" required></td>
                                <td><input type="radio" name="energi_tepat_guna" value="1/9" required></td>
                                <td>{% trans "Aspek Tepat Guna Lahan" %}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_material" value="9" required></td>
                                <td><input type="radio" name="energi_material" value="8" required></td>
                                <td><input type="radio" name="energi_material" value="7" required></td>
                                <td><input type="radio" name="energi_material" value="6" required></td>
                                <td><input type="radio" name="energi_material" value="5" required></td>
                                <td><input type="radio" name="energi_material" value="4" required></td>
                                <td><input type="radio" name="energi_material" value="3" required></td>
                                <td><input type="radio" name="energi_material" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_material" value="1" required></td>
                                <td><input type="radio" name="energi_material" value="1/2" required></td>
                                <td><input type="radio" name="energi_material" value="1/3" required></td>
                                <td><input type="radio" name="energi_material" value="1/4" required></td>
                                <td><input type="radio" name="energi_material" value="1/5" required></td>
                                <td><input type="radio" name="energi_material" value="1/6" required></td>
                                <td><input type="radio" name="energi_material" value="1/7" required></td>
                                <td><input type="radio" name="energi_material" value="1/8" required></td>
                                <td><input type="radio" name="energi_material" value="1/9" required></td>
                                <td>{% trans "Aspek Sumber dan Siklus Material" %}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_bangunan" value="9" required></td>
                                <td><input type="radio" name="energi_bangunan" value="8" required></td>
                                <td><input type="radio" name="energi_bangunan" value="7" required></td>
                                <td><input type="radio" name="energi_bangunan" value="6" required></td>
                                <td><input type="radio" name="energi_bangunan" value="5" required></td>
                                <td><input type="radio" name="energi_bangunan" value="4" required></td>
                                <td><input type="radio" name="energi_bangunan" value="3" required></td>
                                <td><input type="radio" name="energi_bangunan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_bangunan" value="1" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/2" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/3" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/4" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/5" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/6" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/7" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/8" required></td>
                                <td><input type="radio" name="energi_bangunan" value="1/9" required></td>
                                <td>{% trans "Aspek Manajemen Lingkungan Bangunan" %}</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_udara" value="9" required></td>
                                <td><input type="radio" name="energi_udara" value="8" required></td>
                                <td><input type="radio" name="energi_udara" value="7" required></td>
                                <td><input type="radio" name="energi_udara" value="6" required></td>
                                <td><input type="radio" name="energi_udara" value="5" required></td>
                                <td><input type="radio" name="energi_udara" value="4" required></td>
                                <td><input type="radio" name="energi_udara" value="3" required></td>
                                <td><input type="radio" name="energi_udara" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_udara" value="1" required></td>
                                <td><input type="radio" name="energi_udara" value="1/2" required></td>
                                <td><input type="radio" name="energi_udara" value="1/3" required></td>
                                <td><input type="radio" name="energi_udara" value="1/4" required></td>
                                <td><input type="radio" name="energi_udara" value="1/5" required></td>
                                <td><input type="radio" name="energi_udara" value="1/6" required></td>
                                <td><input type="radio" name="energi_udara" value="1/7" required></td>
                                <td><input type="radio" name="energi_udara" value="1/8" required></td>
                                <td><input type="radio" name="energi_udara" value="1/9" required></td>
                                <td>{% trans "Aspek Kualitas Udara" %}</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>{% trans "Aspek Konservasi Energi" %}</td>
                                <td><input type="radio" name="energi_kesehatan" value="9" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="8" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="7" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="6" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="5" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="4" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="3" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="energi_kesehatan" value="1" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="energi_kesehatan" value="1/9" required></td>
                                <td>{% trans "Aspek Kesehatan dan Kenyamanan dalam Proyek" %}</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">B. Aspek Konservasi Air <i class="zmdi zmdi-pin-help"
                        data-toggle="tooltip" data-placement="top"
                        title="Penilaian terhadap upaya pemantauan dan pencatatan pemakaian, penghematan konsumsi air, dan melakukan daur ulang pemakaian air (menggunakan limpasan air hujan) selama proses konstruksi."></i></p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Aspek Konservasi Air</td>
                                <td><input type="radio" name="air_tepat_guna" value="9" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="8" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="7" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="6" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="5" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="4" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="3" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="air_tepat_guna" value="1" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/2" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/3" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/4" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/5" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/6" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/7" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/8" required></td>
                                <td><input type="radio" name="air_tepat_guna" value="1/9" required></td>
                                <td>Aspek Tepat Guna Lahan</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Aspek Konservasi Air</td>
                                <td><input type="radio" name="air_material" value="9" required></td>
                                <td><input type="radio" name="air_material" value="8" required></td>
                                <td><input type="radio" name="air_material" value="7" required></td>
                                <td><input type="radio" name="air_material" value="6" required></td>
                                <td><input type="radio" name="air_material" value="5" required></td>
                                <td><input type="radio" name="air_material" value="4" required></td>
                                <td><input type="radio" name="air_material" value="3" required></td>
                                <td><input type="radio" name="air_material" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="air_material" value="1" required></td>
                                <td><input type="radio" name="air_material" value="1/2" required></td>
                                <td><input type="radio" name="air_material" value="1/3" required></td>
                                <td><input type="radio" name="air_material" value="1/4" required></td>
                                <td><input type="radio" name="air_material" value="1/5" required></td>
                                <td><input type="radio" name="air_material" value="1/6" required></td>
                                <td><input type="radio" name="air_material" value="1/7" required></td>
                                <td><input type="radio" name="air_material" value="1/8" required></td>
                                <td><input type="radio" name="air_material" value="1/9" required></td>
                                <td>Aspek Sumber dan Siklus Material</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Aspek Konservasi Air</td>
                                <td><input type="radio" name="air_bangunan" value="9" required></td>
                                <td><input type="radio" name="air_bangunan" value="8" required></td>
                                <td><input type="radio" name="air_bangunan" value="7" required></td>
                                <td><input type="radio" name="air_bangunan" value="6" required></td>
                                <td><input type="radio" name="air_bangunan" value="5" required></td>
                                <td><input type="radio" name="air_bangunan" value="4" required></td>
                                <td><input type="radio" name="air_bangunan" value="3" required></td>
                                <td><input type="radio" name="air_bangunan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="air_bangunan" value="1" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/2" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/3" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/4" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/5" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/6" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/7" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/8" required></td>
                                <td><input type="radio" name="air_bangunan" value="1/9" required></td>
                                <td>Aspek Manajemen Lingkungan Bangunan</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Aspek Konservasi Air</td>
                                <td><input type="radio" name="air_udara" value="9" required></td>
                                <td><input type="radio" name="air_udara" value="8" required></td>
                                <td><input type="radio" name="air_udara" value="7" required></td>
                                <td><input type="radio" name="air_udara" value="6" required></td>
                                <td><input type="radio" name="air_udara" value="5" required></td>
                                <td><input type="radio" name="air_udara" value="4" required></td>
                                <td><input type="radio" name="air_udara" value="3" required></td>
                                <td><input type="radio" name="air_udara" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="air_udara" value="1" required></td>
                                <td><input type="radio" name="air_udara" value="1/2" required></td>
                                <td><input type="radio" name="air_udara" value="1/3" required></td>
                                <td><input type="radio" name="air_udara" value="1/4" required></td>
                                <td><input type="radio" name="air_udara" value="1/5" required></td>
                                <td><input type="radio" name="air_udara" value="1/6" required></td>
                                <td><input type="radio" name="air_udara" value="1/7" required></td>
                                <td><input type="radio" name="air_udara" value="1/8" required></td>
                                <td><input type="radio" name="air_udara" value="1/9" required></td>
                                <td>Aspek Kualitas Udara</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Aspek Konservasi Air</td>
                                <td><input type="radio" name="air_kesehatan" value="9" required></td>
                                <td><input type="radio" name="air_kesehatan" value="8" required></td>
                                <td><input type="radio" name="air_kesehatan" value="7" required></td>
                                <td><input type="radio" name="air_kesehatan" value="6" required></td>
                                <td><input type="radio" name="air_kesehatan" value="5" required></td>
                                <td><input type="radio" name="air_kesehatan" value="4" required></td>
                                <td><input type="radio" name="air_kesehatan" value="3" required></td>
                                <td><input type="radio" name="air_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="air_kesehatan" value="1" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="air_kesehatan" value="1/9" required></td>
                                <td>Aspek Kesehatan dan Kenyamanan dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">C. Aspek Tepat Guna Lahan <i class="zmdi zmdi-pin-help"
                        data-toggle="tooltip" data-placement="top"
                        title="Penilaian terhadap upaya pemeliharaan kualitas kehijauan lingkungan, pengurangan/menyerapan CO2 dan polutan, serta upaya mengurangi beban drainase yang disebabkan oleh limpasan air hujan selama proses konstruksi."></i></p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Aspek Tepat Guna Lahan</td>
                                <td><input type="radio" name="tepat_guna_material" value="9" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="8" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="7" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="6" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="5" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="4" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="3" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="tepat_guna_material" value="1" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/2" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/3" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/4" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/5" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/6" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/7" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/8" required></td>
                                <td><input type="radio" name="tepat_guna_material" value="1/9" required></td>
                                <td>Aspek Sumber dan Siklus Material</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Aspek Tepat Guna Lahan</td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="9" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="8" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="7" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="6" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="5" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="4" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="3" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="tepat_guna_bangunan" value="1" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/2" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/3" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/4" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/5" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/6" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/7" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/8" required></td>
                                <td><input type="radio" name="tepat_guna_bangunan" value="1/9" required></td>
                                <td>Aspek Manajemen Lingkungan Bangunan</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Aspek Tepat Guna Lahan</td>
                                <td><input type="radio" name="tepat_guna_udara" value="9" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="8" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="7" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="6" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="5" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="4" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="3" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="tepat_guna_udara" value="1" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/2" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/3" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/4" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/5" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/6" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/7" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/8" required></td>
                                <td><input type="radio" name="tepat_guna_udara" value="1/9" required></td>
                                <td>Aspek Kualitas Udara</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Aspek Tepat Guna Lahan</td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="9" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="8" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="7" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="6" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="5" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="4" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="3" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="tepat_guna_kesehatan" value="1" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="tepat_guna_kesehatan" value="1/9" required></td>
                                <td>Aspek Kesehatan dan Kenyamanan dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">D. Aspek Sumber dan Siklus Material <i class="zmdi zmdi-pin-help"
                        data-toggle="tooltip" data-placement="top"
                        title="Penilaian terhadap upaya menahan laju eksploitasi sumber daya alam tidak terbarukan, diperlukan upaya untuk memperpanjang daur hidup material, yang mencakup:
                        a. Penggunaan material lokal bekas bangunan (hasil dekonstruksi) untuk mengurangi pemakaian material baru dan mengurangi limbah di tempat pembuangan akhir serta memperpanjang usia pakai material
                        b. Penggunaan bahan bangunan yang menggunakan proses daur ulang dan yang ramah lingkungan
                        c. Penggunaan bahan baku kayu yang dapat dipertanggungjawabkan asal usulnya
                        d. Penggunaan material lokal untuk mengurangi energi untuk proses transportasi
                        "></i></p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Aspek Sumber dan Siklus Material</td>
                                <td><input type="radio" name="material_bangunan" value="9" required></td>
                                <td><input type="radio" name="material_bangunan" value="8" required></td>
                                <td><input type="radio" name="material_bangunan" value="7" required></td>
                                <td><input type="radio" name="material_bangunan" value="6" required></td>
                                <td><input type="radio" name="material_bangunan" value="5" required></td>
                                <td><input type="radio" name="material_bangunan" value="4" required></td>
                                <td><input type="radio" name="material_bangunan" value="3" required></td>
                                <td><input type="radio" name="material_bangunan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="material_bangunan" value="1" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/2" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/3" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/4" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/5" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/6" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/7" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/8" required></td>
                                <td><input type="radio" name="material_bangunan" value="1/9" required></td>
                                <td>Aspek Manajemen Lingkungan Bangunan</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Aspek Sumber dan Siklus Material</td>
                                <td><input type="radio" name="material_udara" value="9" required></td>
                                <td><input type="radio" name="material_udara" value="8" required></td>
                                <td><input type="radio" name="material_udara" value="7" required></td>
                                <td><input type="radio" name="material_udara" value="6" required></td>
                                <td><input type="radio" name="material_udara" value="5" required></td>
                                <td><input type="radio" name="material_udara" value="4" required></td>
                                <td><input type="radio" name="material_udara" value="3" required></td>
                                <td><input type="radio" name="material_udara" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="material_udara" value="1" required></td>
                                <td><input type="radio" name="material_udara" value="1/2" required></td>
                                <td><input type="radio" name="material_udara" value="1/3" required></td>
                                <td><input type="radio" name="material_udara" value="1/4" required></td>
                                <td><input type="radio" name="material_udara" value="1/5" required></td>
                                <td><input type="radio" name="material_udara" value="1/6" required></td>
                                <td><input type="radio" name="material_udara" value="1/7" required></td>
                                <td><input type="radio" name="material_udara" value="1/8" required></td>
                                <td><input type="radio" name="material_udara" value="1/9" required></td>
                                <td>Aspek Kualitas Udara</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Aspek Sumber dan Siklus Material</td>
                                <td><input type="radio" name="material_kesehatan" value="9" required></td>
                                <td><input type="radio" name="material_kesehatan" value="8" required></td>
                                <td><input type="radio" name="material_kesehatan" value="7" required></td>
                                <td><input type="radio" name="material_kesehatan" value="6" required></td>
                                <td><input type="radio" name="material_kesehatan" value="5" required></td>
                                <td><input type="radio" name="material_kesehatan" value="4" required></td>
                                <td><input type="radio" name="material_kesehatan" value="3" required></td>
                                <td><input type="radio" name="material_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="material_kesehatan" value="1" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="material_kesehatan" value="1/9" required></td>
                                <td>Aspek Kesehatan dan Kenyamanan dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">E. Aspek Manajemen Lingkungan Bangunan <i class="zmdi zmdi-pin-help"
                        data-toggle="tooltip" data-placement="top"
                        title="Penilaian terhadap upaya mengurangi limbah dan mendorong gerakan pemilahan sampah secara sederhana sehingga mempermudah proses daur ulang."></i></p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Aspek Manajemen Lingkungan Bangunan</td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="9" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="8" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="7" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="6" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="5" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="4" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="3" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="bangunan_kualitas_udara" value="1" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/2" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/3" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/4" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/5" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/6" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/7" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/8" required></td>
                                <td><input type="radio" name="bangunan_kualitas_udara" value="1/9" required></td>
                                <td>Aspek Kualitas Udara</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Aspek Manajemen Lingkungan Bangunan</td>
                                <td><input type="radio" name="bangunan_kesehatan" value="9" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="8" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="7" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="6" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="5" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="4" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="3" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="bangunan_kesehatan" value="1" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="bangunan_kesehatan" value="1/9" required></td>
                                <td>Aspek Kesehatan dan Kenyamanan dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">F. Aspek Kualitas Udara <i class="zmdi zmdi-pin-help"
                        data-toggle="tooltip" data-placement="top"
                        title="Penilaian terhadap upaya mengurangi pencemaran udara yang ditimbulkan akibat bahan bangunan dan peralatan yang digunakan selama proses konstruksi."></i></p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Aspek Kualitas Udara</td>
                                <td><input type="radio" name="udara_kesehatan" value="9" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="8" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="7" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="6" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="5" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="4" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="3" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="udara_kesehatan" value="1" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/2" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/3" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/4" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/5" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/6" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/7" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/8" required></td>
                                <td><input type="radio" name="udara_kesehatan" value="1/9" required></td>
                                <td>Aspek Kesehatan dan Kenyamanan dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right mt-4">
                        <button type="submit" class="btn btn-dark">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        {% for key, value in data.items %}
            $("input[name={{key}}][value='{{value}}']").prop("checked", true);
        {% endfor %}
    </script>
</body>

</html>