{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Penilaian Green Construction</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="m-4 text-white d-flex justify-content-between">
            <h1 style="font-weight: 900;">PEMBOBOTAN</h1>
            <!-- <div>
                <p><i class="zmdi zmdi-help zmdi-hc-2x"></i></p>
            </div> -->
        </div>
        <div class="card text-center text-dark mb-4">
            <div class="text-left m-4">
                <form method="POST">
                    <h3>Pembobotan Faktor</h3>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 20px">C. Aspek Tepat Guna Lahan
                        <span class="text-danger" style="font-size: medium;">{{ error.c }}</span></p>

                    <p class="font-weight-bold">C.1 Faktor Rencana Perlindungan Lokasi Pekerjaan <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top"
                            title="Maksud dan tujuan faktor ini adalah mengurangi kerusakan ekologi dan kerusakan lainnya dan menjalin relasi yang baik dengan berbagai pihak selama proses konstruksi."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Rencana Perlindungan Lokasi Pekerjaan</td>
                                <td><input type="radio" name="c1_1" value="9" required></td>
                                <td><input type="radio" name="c1_1" value="8" required></td>
                                <td><input type="radio" name="c1_1" value="7" required></td>
                                <td><input type="radio" name="c1_1" value="6" required></td>
                                <td><input type="radio" name="c1_1" value="5" required></td>
                                <td><input type="radio" name="c1_1" value="4" required></td>
                                <td><input type="radio" name="c1_1" value="3" required></td>
                                <td><input type="radio" name="c1_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c1_1" value="1" required></td>
                                <td><input type="radio" name="c1_1" value="1/2" required></td>
                                <td><input type="radio" name="c1_1" value="1/3" required></td>
                                <td><input type="radio" name="c1_1" value="1/4" required></td>
                                <td><input type="radio" name="c1_1" value="1/5" required></td>
                                <td><input type="radio" name="c1_1" value="1/6" required></td>
                                <td><input type="radio" name="c1_1" value="1/7" required></td>
                                <td><input type="radio" name="c1_1" value="1/8" required></td>
                                <td><input type="radio" name="c1_1" value="1/9" required></td>
                                <td>Pengurangan Jejak Ekologis Tahap Konstruksi</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Rencana Perlindungan Lokasi Pekerjaan</td>
                                <td><input type="radio" name="c1_2" value="9" required></td>
                                <td><input type="radio" name="c1_2" value="8" required></td>
                                <td><input type="radio" name="c1_2" value="7" required></td>
                                <td><input type="radio" name="c1_2" value="6" required></td>
                                <td><input type="radio" name="c1_2" value="5" required></td>
                                <td><input type="radio" name="c1_2" value="4" required></td>
                                <td><input type="radio" name="c1_2" value="3" required></td>
                                <td><input type="radio" name="c1_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c1_2" value="1" required></td>
                                <td><input type="radio" name="c1_2" value="1/2" required></td>
                                <td><input type="radio" name="c1_2" value="1/3" required></td>
                                <td><input type="radio" name="c1_2" value="1/4" required></td>
                                <td><input type="radio" name="c1_2" value="1/5" required></td>
                                <td><input type="radio" name="c1_2" value="1/6" required></td>
                                <td><input type="radio" name="c1_2" value="1/7" required></td>
                                <td><input type="radio" name="c1_2" value="1/8" required></td>
                                <td><input type="radio" name="c1_2" value="1/9" required></td>
                                <td>Pengelolaan Lahan</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">C.2 Faktor Pengurangan Jejak Ekologis Tahap Konstruksi <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top"
                            title="Maksud dan tujuan faktor ini adalah efisiensi penggunaan sumber daya alam dan mengurangi emisi akibat pembakaran minyak bumi."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Pengurangan Jejak Ekologis Tahap Konstruksi</td>
                                <td><input type="radio" name="c2_1" value="9" required></td>
                                <td><input type="radio" name="c2_1" value="8" required></td>
                                <td><input type="radio" name="c2_1" value="7" required></td>
                                <td><input type="radio" name="c2_1" value="6" required></td>
                                <td><input type="radio" name="c2_1" value="5" required></td>
                                <td><input type="radio" name="c2_1" value="4" required></td>
                                <td><input type="radio" name="c2_1" value="3" required></td>
                                <td><input type="radio" name="c2_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="c2_1" value="1" required></td>
                                <td><input type="radio" name="c2_1" value="1/2" required></td>
                                <td><input type="radio" name="c2_1" value="1/3" required></td>
                                <td><input type="radio" name="c2_1" value="1/4" required></td>
                                <td><input type="radio" name="c2_1" value="1/5" required></td>
                                <td><input type="radio" name="c2_1" value="1/6" required></td>
                                <td><input type="radio" name="c2_1" value="1/7" required></td>
                                <td><input type="radio" name="c2_1" value="1/8" required></td>
                                <td><input type="radio" name="c2_1" value="1/9" required></td>
                                <td>Pengelolaan Lahan</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 40px">D. Aspek Sumber dan Siklus
                        Material <span class="text-danger" style="font-size: medium;">{{ error.d }}</span></p>

                    <p class="font-weight-bold">D.1 Faktor Perencanaan dan Penjadwalan Proyek <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top"
                            title="Maksud dan tujuan faktor ini adalah penggunaan bahan bangunan ramah lingkungan, salah satunya adalah menggunakan bahan bangunan yang bersumber dari sekitar lokasi proyek (aspek lokalitas) dengan pertimbangan jarak pengambilan material ke lokasi pekerjaan menjadi relatif lebih dekat sehingga berpotensi untuk mereduksi emisi yang bersumber dari penggunaan bahan bakar yang berdampak pada emisi CO2."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Perencanaan dan Penjadwalan Proyek</td>
                                <td><input type="radio" name="d1_1" value="9" required></td>
                                <td><input type="radio" name="d1_1" value="8" required></td>
                                <td><input type="radio" name="d1_1" value="7" required></td>
                                <td><input type="radio" name="d1_1" value="6" required></td>
                                <td><input type="radio" name="d1_1" value="5" required></td>
                                <td><input type="radio" name="d1_1" value="4" required></td>
                                <td><input type="radio" name="d1_1" value="3" required></td>
                                <td><input type="radio" name="d1_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="d1_1" value="1" required></td>
                                <td><input type="radio" name="d1_1" value="1/2" required></td>
                                <td><input type="radio" name="d1_1" value="1/3" required></td>
                                <td><input type="radio" name="d1_1" value="1/4" required></td>
                                <td><input type="radio" name="d1_1" value="1/5" required></td>
                                <td><input type="radio" name="d1_1" value="1/6" required></td>
                                <td><input type="radio" name="d1_1" value="1/7" required></td>
                                <td><input type="radio" name="d1_1" value="1/8" required></td>
                                <td><input type="radio" name="d1_1" value="1/9" required></td>
                                <td>Pengelolaan Material</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 40px">E. Aspek Manajemen Lingkungan
                        Bangunan <span class="text-danger" style="font-size: medium;">{{ error.e }}</span></p>

                    <p class="font-weight-bold">E.1 Faktor Manajemen Limbah Konstruksi <i class="zmdi zmdi-pin-help"
                            data-toggle="tooltip" data-placement="top"
                            title="Tujuan dari faktor ini adalah untuk mengurangi penggunaan berbagai sumber material bangunan dengan cara memakai kembali, dan mendaur ulang."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manajemen Limbah Konstruksi</td>
                                <td><input type="radio" name="e1_1" value="9" required></td>
                                <td><input type="radio" name="e1_1" value="8" required></td>
                                <td><input type="radio" name="e1_1" value="7" required></td>
                                <td><input type="radio" name="e1_1" value="6" required></td>
                                <td><input type="radio" name="e1_1" value="5" required></td>
                                <td><input type="radio" name="e1_1" value="4" required></td>
                                <td><input type="radio" name="e1_1" value="3" required></td>
                                <td><input type="radio" name="e1_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e1_1" value="1" required></td>
                                <td><input type="radio" name="e1_1" value="1/2" required></td>
                                <td><input type="radio" name="e1_1" value="1/3" required></td>
                                <td><input type="radio" name="e1_1" value="1/4" required></td>
                                <td><input type="radio" name="e1_1" value="1/5" required></td>
                                <td><input type="radio" name="e1_1" value="1/6" required></td>
                                <td><input type="radio" name="e1_1" value="1/7" required></td>
                                <td><input type="radio" name="e1_1" value="1/8" required></td>
                                <td><input type="radio" name="e1_1" value="1/9" required></td>
                                <td>Pelatihan Bagi Subkontraktor</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Manajemen Limbah Konstruksi</td>
                                <td><input type="radio" name="e1_2" value="9" required></td>
                                <td><input type="radio" name="e1_2" value="8" required></td>
                                <td><input type="radio" name="e1_2" value="7" required></td>
                                <td><input type="radio" name="e1_2" value="6" required></td>
                                <td><input type="radio" name="e1_2" value="5" required></td>
                                <td><input type="radio" name="e1_2" value="4" required></td>
                                <td><input type="radio" name="e1_2" value="3" required></td>
                                <td><input type="radio" name="e1_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e1_2" value="1" required></td>
                                <td><input type="radio" name="e1_2" value="1/2" required></td>
                                <td><input type="radio" name="e1_2" value="1/3" required></td>
                                <td><input type="radio" name="e1_2" value="1/4" required></td>
                                <td><input type="radio" name="e1_2" value="1/5" required></td>
                                <td><input type="radio" name="e1_2" value="1/6" required></td>
                                <td><input type="radio" name="e1_2" value="1/7" required></td>
                                <td><input type="radio" name="e1_2" value="1/8" required></td>
                                <td><input type="radio" name="e1_2" value="1/9" required></td>
                                <td>Manajemen Lingkungan Proyek</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Manajemen Limbah Konstruksi</td>
                                <td><input type="radio" name="e1_3" value="9" required></td>
                                <td><input type="radio" name="e1_3" value="8" required></td>
                                <td><input type="radio" name="e1_3" value="7" required></td>
                                <td><input type="radio" name="e1_3" value="6" required></td>
                                <td><input type="radio" name="e1_3" value="5" required></td>
                                <td><input type="radio" name="e1_3" value="4" required></td>
                                <td><input type="radio" name="e1_3" value="3" required></td>
                                <td><input type="radio" name="e1_3" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e1_3" value="1" required></td>
                                <td><input type="radio" name="e1_3" value="1/2" required></td>
                                <td><input type="radio" name="e1_3" value="1/3" required></td>
                                <td><input type="radio" name="e1_3" value="1/4" required></td>
                                <td><input type="radio" name="e1_3" value="1/5" required></td>
                                <td><input type="radio" name="e1_3" value="1/6" required></td>
                                <td><input type="radio" name="e1_3" value="1/7" required></td>
                                <td><input type="radio" name="e1_3" value="1/8" required></td>
                                <td><input type="radio" name="e1_3" value="1/9" required></td>
                                <td>Dokumentasi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">E.2 Faktor Pelatihan Bagi Subkontraktor <i class="zmdi zmdi-pin-help"
                            data-toggle="tooltip" data-placement="top"
                            title="Tujuan faktor ini adalah untuk meyakinkan proses konstruksi yang dilakukan oleh subkontraktor ramah lingkungan."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Pelatihan Bagi Subkontraktor</td>
                                <td><input type="radio" name="e2_1" value="9" required></td>
                                <td><input type="radio" name="e2_1" value="8" required></td>
                                <td><input type="radio" name="e2_1" value="7" required></td>
                                <td><input type="radio" name="e2_1" value="6" required></td>
                                <td><input type="radio" name="e2_1" value="5" required></td>
                                <td><input type="radio" name="e2_1" value="4" required></td>
                                <td><input type="radio" name="e2_1" value="3" required></td>
                                <td><input type="radio" name="e2_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e2_1" value="1" required></td>
                                <td><input type="radio" name="e2_1" value="1/2" required></td>
                                <td><input type="radio" name="e2_1" value="1/3" required></td>
                                <td><input type="radio" name="e2_1" value="1/4" required></td>
                                <td><input type="radio" name="e2_1" value="1/5" required></td>
                                <td><input type="radio" name="e2_1" value="1/6" required></td>
                                <td><input type="radio" name="e2_1" value="1/7" required></td>
                                <td><input type="radio" name="e2_1" value="1/8" required></td>
                                <td><input type="radio" name="e2_1" value="1/9" required></td>
                                <td>Manajemen Lingkungan Proyek</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Pelatihan Bagi Subkontraktor</td>
                                <td><input type="radio" name="e2_2" value="9" required></td>
                                <td><input type="radio" name="e2_2" value="8" required></td>
                                <td><input type="radio" name="e2_2" value="7" required></td>
                                <td><input type="radio" name="e2_2" value="6" required></td>
                                <td><input type="radio" name="e2_2" value="5" required></td>
                                <td><input type="radio" name="e2_2" value="4" required></td>
                                <td><input type="radio" name="e2_2" value="3" required></td>
                                <td><input type="radio" name="e2_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e2_2" value="1" required></td>
                                <td><input type="radio" name="e2_2" value="1/2" required></td>
                                <td><input type="radio" name="e2_2" value="1/3" required></td>
                                <td><input type="radio" name="e2_2" value="1/4" required></td>
                                <td><input type="radio" name="e2_2" value="1/5" required></td>
                                <td><input type="radio" name="e2_2" value="1/6" required></td>
                                <td><input type="radio" name="e2_2" value="1/7" required></td>
                                <td><input type="radio" name="e2_2" value="1/8" required></td>
                                <td><input type="radio" name="e2_2" value="1/9" required></td>
                                <td>Dokumentasi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">E.3 Faktor Manajemen Lingkungan Proyek <i class="zmdi zmdi-pin-help"
                            data-toggle="tooltip" data-placement="top"
                            title="Tujuan faktor ini adalah mengantisipasi dampak akibat proses konstruksi terhadap lingkungan di sekitar lokasi proyek."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Manajemen Lingkungan Proyek</td>
                                <td><input type="radio" name="e3_1" value="9" required></td>
                                <td><input type="radio" name="e3_1" value="8" required></td>
                                <td><input type="radio" name="e3_1" value="7" required></td>
                                <td><input type="radio" name="e3_1" value="6" required></td>
                                <td><input type="radio" name="e3_1" value="5" required></td>
                                <td><input type="radio" name="e3_1" value="4" required></td>
                                <td><input type="radio" name="e3_1" value="3" required></td>
                                <td><input type="radio" name="e3_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="e3_1" value="1" required></td>
                                <td><input type="radio" name="e3_1" value="1/2" required></td>
                                <td><input type="radio" name="e3_1" value="1/3" required></td>
                                <td><input type="radio" name="e3_1" value="1/4" required></td>
                                <td><input type="radio" name="e3_1" value="1/5" required></td>
                                <td><input type="radio" name="e3_1" value="1/6" required></td>
                                <td><input type="radio" name="e3_1" value="1/7" required></td>
                                <td><input type="radio" name="e3_1" value="1/8" required></td>
                                <td><input type="radio" name="e3_1" value="1/9" required></td>
                                <td>Dokumentasi</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 40px">F. Aspek Kualitas Udara <span
                            class="text-danger" style="font-size: medium;">{{ error.f }}</span></p>

                    <p class="font-weight-bold">F.1 Faktor Penyimpanan dan Perlindungan Material <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top"
                            title="Tujuan faktor ini adalah untuk menghindari terjadinya kerusakan material yang akan digunakan dalam proses konstruksi."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Penyimpanan dan Perlindungan Material</td>
                                <td><input type="radio" name="f1_1" value="9" required></td>
                                <td><input type="radio" name="f1_1" value="8" required></td>
                                <td><input type="radio" name="f1_1" value="7" required></td>
                                <td><input type="radio" name="f1_1" value="6" required></td>
                                <td><input type="radio" name="f1_1" value="5" required></td>
                                <td><input type="radio" name="f1_1" value="4" required></td>
                                <td><input type="radio" name="f1_1" value="3" required></td>
                                <td><input type="radio" name="f1_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="f1_1" value="1" required></td>
                                <td><input type="radio" name="f1_1" value="1/2" required></td>
                                <td><input type="radio" name="f1_1" value="1/3" required></td>
                                <td><input type="radio" name="f1_1" value="1/4" required></td>
                                <td><input type="radio" name="f1_1" value="1/5" required></td>
                                <td><input type="radio" name="f1_1" value="1/6" required></td>
                                <td><input type="radio" name="f1_1" value="1/7" required></td>
                                <td><input type="radio" name="f1_1" value="1/8" required></td>
                                <td><input type="radio" name="f1_1" value="1/9" required></td>
                                <td>Pemilihan dan Operasional Peralatan Konstruksi</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Penyimpanan dan Perlindungan Material</td>
                                <td><input type="radio" name="f1_2" value="9" required></td>
                                <td><input type="radio" name="f1_2" value="8" required></td>
                                <td><input type="radio" name="f1_2" value="7" required></td>
                                <td><input type="radio" name="f1_2" value="6" required></td>
                                <td><input type="radio" name="f1_2" value="5" required></td>
                                <td><input type="radio" name="f1_2" value="4" required></td>
                                <td><input type="radio" name="f1_2" value="3" required></td>
                                <td><input type="radio" name="f1_2" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="f1_2" value="1" required></td>
                                <td><input type="radio" name="f1_2" value="1/2" required></td>
                                <td><input type="radio" name="f1_2" value="1/3" required></td>
                                <td><input type="radio" name="f1_2" value="1/4" required></td>
                                <td><input type="radio" name="f1_2" value="1/5" required></td>
                                <td><input type="radio" name="f1_2" value="1/6" required></td>
                                <td><input type="radio" name="f1_2" value="1/7" required></td>
                                <td><input type="radio" name="f1_2" value="1/8" required></td>
                                <td><input type="radio" name="f1_2" value="1/9" required></td>
                                <td>Kualitas Udara dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold">F.2 Faktor Pemilihan dan Operasional Peralatan Konstruksi <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top"
                            title="Tujuan faktor ini adalah mengurangi pemakaian bahan bakar dan mengurangi terjadinya polusi yang ditimbulkan oleh peralatan yang digunakan. Cara ini tidak hanya memberikan aspek positif terhadap lingkungan tetapi juga mengurangi biaya bahkan mungkin dapat meningkatkan produktivitas."></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Pemilihan dan Operasional Peralatan Konstruksi</td>
                                <td><input type="radio" name="f2_1" value="9" required></td>
                                <td><input type="radio" name="f2_1" value="8" required></td>
                                <td><input type="radio" name="f2_1" value="7" required></td>
                                <td><input type="radio" name="f2_1" value="6" required></td>
                                <td><input type="radio" name="f2_1" value="5" required></td>
                                <td><input type="radio" name="f2_1" value="4" required></td>
                                <td><input type="radio" name="f2_1" value="3" required></td>
                                <td><input type="radio" name="f2_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="f2_1" value="1" required></td>
                                <td><input type="radio" name="f2_1" value="1/2" required></td>
                                <td><input type="radio" name="f2_1" value="1/3" required></td>
                                <td><input type="radio" name="f2_1" value="1/4" required></td>
                                <td><input type="radio" name="f2_1" value="1/5" required></td>
                                <td><input type="radio" name="f2_1" value="1/6" required></td>
                                <td><input type="radio" name="f2_1" value="1/7" required></td>
                                <td><input type="radio" name="f2_1" value="1/8" required></td>
                                <td><input type="radio" name="f2_1" value="1/9" required></td>
                                <td>Kualitas Udara dalam Proyek</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="font-weight-bold" style="font-size:large; margin-top: 40px">G. Aspek Kesehatan dan
                        Kenyamanan dalam
                        Proyek <span class="text-danger" style="font-size: medium;">{{ error.g }}</span></p>

                    <p class="font-weight-bold">G.1 Faktor Kesehatan Lingkungan Kerja Tahap Konstruksi <i
                            class="zmdi zmdi-pin-help" data-toggle="tooltip" data-placement="top" title="Tujuan faktor ini adalah terciptanya lingkungan kerja dengan memperhatikan proses konstruksi yang efisien, efisiensi konsumsi energi dan didukung moral pekerja.
                        "></i>
                    </p>
                    <table class="table table-bordered table-responsive table-sm table-custom">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%;">Kriteria A</th>
                                <th colspan="8">Skala</th>
                                <th></th>
                                <th colspan="8">Skala</th>
                                <th style="width: 30%;">Kriteria B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td class="bg-secondary text-white">1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Kesehatan Lingkungan Kerja Tahap Konstruksi</td>
                                <td><input type="radio" name="g1_1" value="9" required></td>
                                <td><input type="radio" name="g1_1" value="8" required></td>
                                <td><input type="radio" name="g1_1" value="7" required></td>
                                <td><input type="radio" name="g1_1" value="6" required></td>
                                <td><input type="radio" name="g1_1" value="5" required></td>
                                <td><input type="radio" name="g1_1" value="4" required></td>
                                <td><input type="radio" name="g1_1" value="3" required></td>
                                <td><input type="radio" name="g1_1" value="2" required></td>
                                <td class="bg-secondary"><input type="radio" name="g1_1" value="1" required></td>
                                <td><input type="radio" name="g1_1" value="1/2" required></td>
                                <td><input type="radio" name="g1_1" value="1/3" required></td>
                                <td><input type="radio" name="g1_1" value="1/4" required></td>
                                <td><input type="radio" name="g1_1" value="1/5" required></td>
                                <td><input type="radio" name="g1_1" value="1/6" required></td>
                                <td><input type="radio" name="g1_1" value="1/7" required></td>
                                <td><input type="radio" name="g1_1" value="1/8" required></td>
                                <td><input type="radio" name="g1_1" value="1/9" required></td>
                                <td>Program Kesehatan dan Keselamatan Kerja</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right mt-4">
                        <button type="submit" class="btn btn-dark">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        {% for key, value in data.items %}
            $("input[name={{key}}][value='{{value}}']").prop("checked", true);
        {% endfor %}
    </script>
</body>

</html>