{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Sistem Penilaian Green Construction" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="m-4">
            <h1 style="font-weight: 900;">{% trans "PEMBOBOTAN" %}</h1>
        </div>
        <div class="card shadow p-4 text-dark">
            <h4>{% trans "PEMBOBOTAN PENILAIAN GREEN CONSTRUCTION" %}</h4>
            <p>{% blocktrans %}Tujuan kuesioner ini adalah untuk mendapatkan besarnya kontribusi setiap level hierarki yang ada terhadap
                kriteria penilaian green construction. Kuesioner ini dibuat berdasarkan konsep perbandingan berpasangan,
                relatif satu sama lain, dengan menggunakan skala berikut:{% endblocktrans %}</p>
            <span class="text-center">{% trans "Tabel 1 Skala Perbandingan Kepentingan (Saaty, 1993)" %}</span>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="warning text-white text-center">
                        <th>{% trans "Tingkat Kepentingan" %}</th>
                        <th>{% trans "Definisi" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>{% trans "Kedua kriteria sama pentingnya." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>{% trans "Kriteria yang satu sedikit lebih penting daripada kriteria yang lainnya." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td>{% trans "Kriteria yang satu lebih penting dari kriteria lainnya." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">7</td>
                        <td>{% trans "Satu kriteria jauh lebih penting daripada kriteria lainnya." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">9</td>
                        <td>{% trans "Satu kriteria mutlak lebih penting daripada kriteria lainnya." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">2, 4, 6, 8</td>
                        <td>{% trans "Nilai di antara." %}</td>
                    </tr>
                    <tr>
                        <td class="text-center">{% trans "Kebalikan" %}</td>
                        <td>{% blocktrans %}Jika elemen i memiliki salah satu angka di atas ketika dibandingkan dengan elemen j, maka j
                            memiliki nilai kebalikannya ketika dibandingkan dengan elemen i{% endblocktrans %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span><b>{% trans "Petunjuk Pengisian" %}</b></span><br>
                <span>{% blocktrans %}Berilah tanda silang (X) pada kolom skala kriteria (Aspek A) atau pada kolom skala kriteria (Aspek
                    B) sesuai
                    dengan pendapat anda.{% endblocktrans %}</span>

                <p class="my-2">{% trans "Contoh" %}:<br>
                    {% blocktrans %}Untuk mencapai <i>green construction</i>, seberapa pentingkah kriteria Aspek A dibandingkan kriteria
                    Aspek
                    B?{% endblocktrans %}</p>

                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <thead class="warning text-white">
                            <tr>
                                <th>No.</th>
                                <th style="width: 30%">{% trans "Aspek A" %}</th>
                                <th colspan="8">{% trans "Skala" %}</th>
                                <th></th>
                                <th colspan="8">{% trans "Skala" %}</th>
                                <th style="width: 30%">{% trans "Aspek B" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>9</td>
                                <td>8</td>
                                <td>7</td>
                                <td>6</td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>{% trans "Konservasi Energi" %}</td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" checked></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td><input type="radio" disabled></td>
                                <td>{% trans "Konservasi Air" %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <p>{% blocktrans %}Pada contoh di atas, diberikan tanda silang (X) pada skala 5 di kolom A, artinya kriteria A (Aspek
                    Konservasi Energi) dianggap lebih penting dibandingkan dengan kriteria B (Aspek Konservasi Air)
                    untuk mencapai green construction.{% endblocktrans %}</p>
            </div>
            <form method="POST" action="{%url 'pembobotan_aspek'%}">
                <label>{% trans "Masukkan Confidence Level :" %}</label>
                <input name="nilai_cr" placeholder="default 90" required> <strong>%</strong></input>
            <br />
                <button type="submit" class="btn btn-dark">Next</button>
            </form>
        </div>
        <div class="my-4 text-right">
            <!-- <a href="{% url 'pembobotan_aspek' %}"><button class="btn btn-dark">Next</button></a> -->
        </div>
    </div>
</body>

</html>