{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistem Penilaian Green Construction</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>

  <body>
    <div class="container my-4">
      <h1 class="text-uppercase" style="font-weight: 900">Tentang Kami</h1>
      <div class="card shadow text-dark p-4">
        <p>
          Website penilaian green construction ini merupakan hasil dari
          penelitian tesis Andira Triana Putri dibawah bimibingan Bapak Ir.
          Biemo W. Soemardi, MSE., Ph.D dengan judul “Model Assessment Green
          Construction pada Proses Konstruksi untuk Proyek Gedung di Indonesia
          dengan Konsep Fuzzy Analytical Hierarchy Process (FAHP)”.
        </p>
        <p>
          Terdapat dua fitur pilihan yang dapat digunakan dalam situs web ini:
        </p>
        <ol>
          <li>
            Fitur penggunaan model penilaian: menilai suatu proses konstruksi
            menggunakan sistem penilaian hasil penelitian dimana bobot dan
            kategori penilaian dibuat berdasarkan preferensi responden kuesioner
            penelitian.
          </li>
          <li>
            Fitur pembuatan model penilaian: pengguna dapat menentukan sendiri
            bagaimana preferensinya dalam menilai berbagai kategori yang ada di
            setiap level hierarki, kemudian program akan membuat pembobotan
            berdasarkan preferensi tersebut.
          </li>
        </ol>
        <p>
          Keluaran dari website ini berupa nilai green construction serta
          penilaian masing-masing aspek berdasarkan evaluasi pengguna.
        </p>

        <h4><strong>Asumsi Model</strong></h4>
        <ol>
          <li>
            Bobot penilaian yang digunakan dalam model ini didasarkan pada
            penilaian independen oleh 20 orang responden yang dianggap memiliki
            tingkat kepentingan yang sama serta pemahaman yang memadai tentang
            green construction.
          </li>
          <li>
            Hubungan antar elemen pada model bersifat mutually exclusive, atau
            saling tidak mempengaruhi satu sama lain.
          </li>
        </ol>
        <h4><strong>Batasan Model</strong></h4>
        <p>
          Model ini dibuat sebagai alat untuk memudahkan praktisi dalam
          mengevaluasi kinerja proses konstruksi, dalam konteks dampaknya
          terhadap lingkungan, yang dilakukan agar dapat meningkatkan
          performanya dalam mewujudkan prinsip green construction. Model ini
          diwujudkan dalam bentuk sebuah instrumen swa-nilai atau
          self-assessment berbasis web untuk masing-masing kegiatan konstruksi
          atau proyek. Dengan demikian instrumen ini bukan dimaksudkan untuk
          digunakan membandingkan kinerja suatu proyek terhadap proyek yang
          lain.
        </p>
        <p>
          Pada prinsipnya model ini dapat diterapkan pada dua tahap dengan
          fungsi yang berbeda. Pada tahap pra-konstruksi, instrumen ini
          digunakan untuk menetapkan capaian penilaian hijau direncanakan,
          sementara pada tahap konstruksi, instrumen yang sama digunakan untuk
          mengukur seberapa jauh capaian kinerja konstruksi hijau, sebagai salah
          satu upaya perbaikan berkelanjutan agar konstruksi semakin mengarah
          pada green construction.
        </p>
        <p>
          Himpunan kategori penilaian dalam model ini merepresentasikan standar
          penilaian yang digunakan dalam menilai proyek, sedangkan bobot setiap
          elemen dalam model menggambarkan kepentingan terhadap green
          construction. Model FAHP yang disusun tidak memberikan standar
          penilaian yang baku untuk digunakan, sehingga penilai bebas untuk
          mendefinisikan standar penilaiannya sendiri dalam sebuah himpunan
          kategori penilaian.
        </p>
        <p>
          Dalam mengimplementasikan model untuk menilai suatu proses konstruksi,
          untuk mengatasi/mengurangi pengaruh subjektivitas, sebaiknya digunakan
          standar penilaian yang sama untuk setiap individu penilai. Untuk
          penilai tidak tunggal, maka himpunan kategori penilaian dapat dibuat
          berdasarkan gabungan preferensi masing-masing penilaian yang dimiliki
          seluruh penilai untuk mengatasi subjektivitas antar penilai. Himpunan
          kategori penilaian yang digunakan juga harus dipertahankan selama
          keberjalanan proyek agar penilaian yang dihasilkan tidak dipengaruhi
          oleh perubahan standar penilaian seiring waktu, kecuali evaluasi
          memang didesain untuk menghadapi standar penilaian yang semakin tinggi
          atau semakin rendah.
        </p>
        <p>
          Di sisi penggunaan instrumen, agar didapatkan hasil evaluasi yang
          sesuai konteks dan relevan, sebaiknya penilaian dilakukan oleh
          individu yang memahami konteks green construction dalam pelaksanaan
          kegiatan/proyek konstruksi, termasuk bagaimana menilai kinerja proses
          konstruksi sesuai dengan konsep green construction.
        </p>
        <h4><strong>Kontak</strong></h4>
        <p>Andira - andiratrianap@gmail.com</p>
      </div>
    </div>
  </body>
</html>
